.form-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
    height: auto;
    -webkit-transition: all 1s linear;
    flex-grow: unset;
  }

  .title-black {
    padding: 1rem 1rem 5rem 1rem;

    @include multiple-media(smallScreen, mediumScreen, largeScreen) {
      padding: 1rem 1rem 1.5rem 1rem;
      width: calc(100%/12 * 7);
    }

    @include multiple-media(tabletScreen) {
      padding: 1rem 1rem 1.5rem 1rem;
      width: calc(100%/12 * 12);
    }

    @include multiple-media(mobileScreenLandscape) {
      width: calc(100%/12 * 9);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
      flex-direction: row;
      align-items: flex-end;
    }

    .form-wrapper {
      display: flex;
      flex-grow: 1;
      margin-bottom: 4rem;

      @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
        padding-bottom: 0;
        flex-grow: unset;
        width: calc(100%/12 * 7);
        margin-bottom: 0;
      }

      @include multiple-media(tabletScreen, smallScreen) {
        width: calc(100%/12 * 9);
      }

      @include multiple-media(smallScreen, mediumScreen, largeScreen) {
        width: calc(100%/12 * 6);
      }

      @include multiple-media(mobileScreenLandscape) {
        width: calc(100%/12 * 8);
      }

      .form {

        @media not all and (min-resolution: 0.001dpcm) {
          @supports (-webkit-appearance: none) {
            @media (min-width: 0px) and (max-width: 599px) {
              display: block;
              height: 100%;
              margin-bottom: 10rem;
            }
          }
        }

        &-group {
          display: flex;
          flex-wrap: wrap;
          padding: .5rem;



          .form-field {
            width: calc(100%/2 - 1rem);
            padding: .5rem;
            @include multiple-media(mobileScreen) {
              &:nth-child(1) {
                order: 0
              }
              &:nth-child(2) {
                order: 0
              }
              &:nth-child(3) {
                order: 1
              }
              &:nth-child(4) {
                order: 0
              }
              &:nth-child(5) {
                order: 0
              }
              &:nth-child(6) {
                order: 2
              }
              &:nth-child(7) {
                order: 0
              }
              &:nth-child(8) {
                order: 0
              }
              &:nth-child(9) {
                order: 2
              }
              &:nth-child(10) {
                order: 3
              }
              &:nth-child(11) {
                order: 2
              }


            }

            @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
              width: calc(100%/3 - 1rem);
            }


            input[type="text"],
            input[type="email"],
            select,
            textarea {
              outline: 0;
              border-width: 0 0 1px;
              border-color: $black;
              border-radius: 0;
              width: 100%;
              text-transform: uppercase;
              font-size: 1rem;
              -webkit-appearance: none;
              background-color: transparent;
              padding: 0;

              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                text-transform: uppercase;
                color: $black;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                text-transform: uppercase;
                color: $black;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                text-transform: uppercase;
                color: $black;
              }
              &:-moz-placeholder { /* Firefox 18- */
                text-transform: uppercase;
                color: $black;
              }

              option {
                text-transform: uppercase;
              }
            }

            &-comments {
              width: 100%;
              font-size: 1rem;

              @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
                width: calc(100%/1.50 - 1rem);
              }

            }

            &-group {
              font-size: 1rem;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              border-bottom: 1px solid $black;
              white-space: pre;

              @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
                border-bottom: 1px solid;
                min-height: 17px;
              }

              .container {
                display: block;
                position: relative;
                padding-left: 2rem;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }

              /* Hide the browser's default radio button */
              .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
              }

              /* Create a custom radio button */
              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 10px;
                width: 10px;
                background-color: $white;
                border: 1px solid #8e8e8e;
                margin-left: .5rem;

                @include multiple-media(mobileScreen) {
                  height: .9rem;
                  width: .9rem;
                }
              }

              /* On mouse-over, add a grey background color */
              .container:hover input ~ .checkmark {
                background-color: #ccc;
              }

              /* When the radio button is checked, add a blue background */
              .container input:checked ~ .checkmark {
                background-color: $black;
              }

              /* Create the indicator (the dot/circle - hidden when not checked) */


              /* Show the indicator (dot/circle) when checked */
              .container input:checked ~ .checkmark:after {
                display: block;
              }

              /* Style the indicator (dot/circle) */
              .container .checkmark:after {
                top: 9px;
                left: 9px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: white;
              }
            }

            select {

              /* styling */
              background-color: white;
              display: inline-block;
              padding: 0 2em 1px 0;

              /* reset */

              margin: 0;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              -webkit-appearance: none;
              -moz-appearance: none;
            }


            /* arrows */

            select.classic {
              background-image:
                      linear-gradient(45deg, transparent 50%, gray 50%),
                      linear-gradient(135deg, gray 50%, transparent 50%),
                      linear-gradient(to right, transparent, transparent);
              background-position: calc(100% - 5px) calc(1em - 5px), calc(100% - 0px) calc(1em - 5px), 100% 0;
              background-size:
                      5px 5px,
                      5px 5px,
                      2.5em 2.5em;
              background-repeat: no-repeat;
            }

            select.classic:focus {
              background-image:
                      linear-gradient(45deg, gray 50%, transparent 50%),
                      linear-gradient(135deg, transparent 50%, gray 50%),
                      linear-gradient(to right, white, white);
              background-position: calc(100% - 0px) 5px, calc(100% - 5px) 5px, 100% 0;
              background-size:
                      5px 5px,
                      5px 5px,
                      2.5em 2.5em;
              background-repeat: no-repeat;
              border-color: grey;
              outline: 0;
            }

          }
        }

        &-footer {
          display: none;
          font-size: .8rem;

          @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
            display: flex;
            align-items: flex-start;
            padding: 1rem;
          }

          button {
            cursor: pointer;
            color: $white;
            border: 1px solid $black;
            background: $black;
            text-transform: uppercase;
            padding: 1rem 1.5rem;
            display: flex;
            font-size: 1rem;
            margin-left: 1rem;
          }

          a {
            color: $black;
          }

          p {
            margin-top: 0;
            margin-bottom: 1rem;
          }

          img {
            width: 1rem;
          }
        }

        .submit-btn {
          cursor: pointer;
          margin: 0 1rem;
          border: 1px solid #000000;
          background: $black;
          color: $white;
          text-transform: uppercase;
          padding: 1rem 1.5rem;


          @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
            display: none;
          }
        }
      }
    }

    .pointz-info {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      font-size: 1rem;

      @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
        flex-grow: 1;
        align-items: flex-end;
      }

      &-msg {
        @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          // min-width: calc(100%/12 * 3);
        }
        @include multiple-media(mediumScreen, largeScreen) {
          min-width: calc(100%/12 * 2);
        }
      }

      &-address {
        margin-bottom: 1rem;

        &--text {
          text-transform: uppercase;
          display: block;
          line-height: 1.2;
          font-size: 1rem;

          a {
            text-decoration: none;
            color: $black;
          }
        }

        &--image {
          margin-bottom: 1rem;

          @include multiple-media(mobileScreen) {
            width: 12rem;
          }
        }
      }

      &-open {
        padding-bottom: 1rem;

        @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
          padding-bottom: 0;
        }

        &--text {
          text-transform: uppercase;
          display: block;
          line-height: 1.2;
          font-size: 1rem;
        }
      }

      &-privacy {

        @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
          display: none;
        }


        span {
          text-transform: uppercase;

          img {
            width: 1rem;
            margin-right: .5rem;
          }

          a {
            color: $black;
            cursor: pointer;
          }
        }

        .mobile-housing {
          display: inline-block;
          margin-bottom: 1rem;
        }



      }
    }
  }
}
