.main-section {
  background-image: url("./assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  //display: none; // trenutno

    &--logo {
      width: 21rem;
      padding: 1rem 0 0 1.2rem;
      height: 2.5rem;
      @media only screen and (max-width: 400px) {
        width: 18rem;
      }

      @include multiple-media(mobileScreen) {
        height: 2.3rem;
      }
    }

    &-head {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      @media only screen
      and (min-width : 375px)
      and (max-width : 812px)
      and (orientation : landscape) { display: none}

      @media only screen
      and (min-width : 768px)
      and (max-width : 1023px)
      and (orientation : landscape) { display : none}

      #app-logo {
        height:50px;
        overflow:hidden;
      }

      #app-logo > div > div {
        color:#fff;
        height:45px;
        margin-bottom:45px;
        display:inline-block;
      }

      #app-logo div:first-child {
        animation: show 5s ease-out forwards;
      }

      @keyframes show {
        from {
          transform: translateY(100%);
        }
        to {
          transform: translateY(0);
        }
      }

    }

  &--text {
    padding: 1rem 0 0 1.2rem;
    height: 2.8rem;
    overflow: hidden;

    @include multiple-media(mobileScreen) {
      height: 2.5rem;
    }

    .title-black {
      animation: animateText .5s ease-out forwards;

      @keyframes animateText {
        0% {margin-top:3rem;}
        90% {margin-top: 3rem}
        100% {margin-top: 0}
      }
    }

    .main-section--logo {
      padding: 0;
      animation: animateText .25s ease-out forwards;

      @keyframes animateText {
        0% {margin-top:3rem;}
        90% {margin-top: 3rem}
        100% {margin-top: 0}
      }
    }

  }

  &-logo {

  }

  &-text {
    padding: 0 1rem;
    overflow: hidden;

    &__info {

      &--title {
        display: flex;
        flex-grow: 1;
        line-height: 1;

        height: 2.5rem;
        overflow: hidden;

        @include multiple-media(mobileScreen) {
          height: 2.3rem;
        }

        .title-black {
          line-height: 1 !important;
        }

        &:first-child {
          .title-black {
            animation: infoTitle .5s linear;

            @keyframes infoTitle {
              0% {margin-top:2.5rem;}
              90% {margin-top: 2.5rem;}
              100% {margin-top: 0}
            }
          }
        }

        &:nth-child(2) {
          .title-black {
            animation: infoTitle 1s linear;

            @keyframes infoTitle {
              0% {margin-top:2.5rem;}
              90% {margin-top: 2.5rem;}
              100% {margin-top: 0}
            }
          }
        }

        &:nth-child(3) {
          .title-black {
            animation: infoTitle 1.5s linear;

            @keyframes infoTitle {
              0% {margin-top:2.5rem;}
              90% {margin-top:2.5rem;}
              100% {margin-top: 0}
            }
          }

        }

      }
    }

    #flip {
      height:2.5rem;
      overflow:hidden;
      font-size: 3rem;
      -webkit-backface-visibility: hidden;

      @media only screen and (max-width: 400px) {
        font-size: 2.5rem;
      }

    }
    #flip > div {
      -webkit-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
    }

    #flip > div > div {
      color:$black;
      // padding:4px 12px;
      height:45px;
      margin-bottom:0;
      display:inline-block;
      font-family: "IntegralExtaBold" !important;
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
    }

    #flip div:first-child {
      animation: show 200s linear infinite;
      -webkit-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
    }


    @include multiple-media(mobileScreen, tabletScreen, smallScreen) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-50px;}
        2% {margin-top:-50px;}
        2.2% {margin-top:-95px;}
        3% {margin-top:-95px;}
        3.2% {margin-top:-140px;}
        4% {margin-top: -140px;}
        4.2% {margin-top:-185px;}
        5% {margin-top:-185px;}
        5.2% {margin-top:-230px;}
        6% {margin-top:-230px;}
        6.2% {margin-top:-275px;}
        7% {margin-top:-275px;}
        7.2% {margin-top:-320px;}
        8% {margin-top:-320px;}
        8.2% {margin-top:-365px;}
        9% {margin-top:-365px;}
        9.2% {margin-top:-410px;}
        10% {margin-top:-410px;}
        10.2% {margin-top:-455px;}
        11% {margin-top:-455px;}
        11.2% {margin-top:-500px;}
        12% {margin-top:-500px;}
        12.2% {margin-top:-545px;}
        13% {margin-top:-545px;}
        13.2% {margin-top:-590px;}
        14% {margin-top:-590px;}
        14.2% {margin-top:-635px;}
        15% {margin-top:-635px;}
        15.2% {margin-top:-680px;}
        16% {margin-top:-680px;}
        16.2% {margin-top:-725px;}
        17% {margin-top:-725px;}
        17.2% {margin-top:-770px;}
        18% {margin-top:-770px;}
        18.2% {margin-top:-815px;}
        19% {margin-top:-815px;}
        19.2% {margin-top:-860px;}
        20% {margin-top:-860px;}
        20.2% {margin-top:-905px;}
        21% {margin-top:-905px;}
        21.2% {margin-top:-950px;}
        22% {margin-top:-950px;}
        22.2% {margin-top:-995px;}
        23% {margin-top:-995px;}
        23.2% {margin-top:-1040px;}
        24% {margin-top:-1040px;}
        24.2% {margin-top:-1085px;}
        25% {margin-top:-1085px;}
        25.2% {margin-top:-1130px;}
        26% {margin-top:-1130px;}
        26.2% {margin-top:-1175px;}
        27% {margin-top:-1175px;}
        27.2% {margin-top:-1220px;}
        28% {margin-top:-1220px;}
        28.2% {margin-top:-1265px;}
        29% {margin-top:-1265px;}
        29.2% {margin-top:-1310px;}
        30% {margin-top:-1310px;}
        30.2% {margin-top:-1355px;}
        31% {margin-top:-1355px;}
        31.2% {margin-top:-1400px;}
        32% {margin-top:-1400px;}
        32.2% {margin-top:-1445px;}
        33% {margin-top:-1445px;}
        33.2% {margin-top:-1490px;}
        34% {margin-top:-1490px;}
        34.2% {margin-top:-1535px;}
        35% {margin-top:-1535px;}
        35.2% {margin-top:-1580px;}
        36% {margin-top:-1580px;}
        36.2% {margin-top:-1625px;}
        37% {margin-top:-1625px;}
        37.2% {margin-top:-1670px;}
        38% {margin-top:-1670px;}
        38.2% {margin-top:-1715px;}
        39% {margin-top:-1715px;}
        39.2% {margin-top:-1760px;}
        40% {margin-top:-1760px;}
        40.2% {margin-top:-1805px;}
        41% {margin-top:-1805px;}
        41.2% {margin-top:-1850px;}
        42% {margin-top:-1850px;}
        42.2% {margin-top:-1895px;}
        43% {margin-top:-1895px;}
        43.2% {margin-top:-1940px;}
        44% {margin-top:-1940px;}
        44.2% {margin-top:-1985px;}
        45% {margin-top:-1985px;}
        45.2% {margin-top:-2030px;}
        46% {margin-top:-2030px;}
        46.2% {margin-top:-2075px;}
        47% {margin-top:-2075px;}
        47.2% {margin-top:-2120px;}
        48% {margin-top:-2120px;}
        48.2% {margin-top:-2165px;}
        49% {margin-top:-2165px;}
        49.2% {margin-top:-2210px;}
        50% {margin-top:-2210px;}
        50.2% {margin-top:-2255px;}
        51% {margin-top:-2255px;}
        51.2% {margin-top:-2300px;}
        52% {margin-top:-2300px;}
        52.2% {margin-top:-2345px;}
        53% {margin-top:-2345px;}
        53.2% {margin-top:-2390px;}
        54% {margin-top:-2390px;}
        54.2% {margin-top:-2435px;}
        55% {margin-top:-2435px;}
        55.2% {margin-top:-2480px;}
        56% {margin-top:-2480px;}
        56.2% {margin-top:-2525px;}
        57% {margin-top:-2525px;}
        57.2% {margin-top:-2570px;}
        58% {margin-top:-2570px;}
        58.2% {margin-top:-2615px;}
        59% {margin-top:-2615px;}
        59.2% {margin-top:-2660px;}
        60% {margin-top:-2660px;}
        60.2% {margin-top:-2705px;}
        61% {margin-top:-2705px;}
        61.2% {margin-top:-2750px;}
        62% {margin-top:-2750px;}
        62.2% {margin-top:-2795px;}
        63% {margin-top:-2795px;}
        63.2% {margin-top:-2830px;}
        64% {margin-top:-2830px;}
        64.2% {margin-top:-2885px;}
        65% {margin-top:-2885px;}
        65.2% {margin-top:-2930px;}
        66% {margin-top:-2930px;}
        66.2% {margin-top:-2975px;}
        67% {margin-top:-2975px;}
        67.2% {margin-top:-3020px;}
        68% {margin-top:-3020px;}
        68.2% {margin-top:-3065px;}
        69% {margin-top:-3065px;}
        69.2% {margin-top:-3110px;}
        70% {margin-top:-3110px;}
        70.2% {margin-top:-3155px;}
        71% {margin-top:-3155px;}
        71.2% {margin-top:-3200px;}
        72% {margin-top:-3200px;}
        72.2% {margin-top:-3245px;}
        73% {margin-top:-3245px;}
        73.2% {margin-top:-3290px;}
        74% {margin-top:-3290px;}
        74.2% {margin-top:-3335px;}
        75% {margin-top:-3335px;}
        75.2% {margin-top:-3380px;}
        76% {margin-top:-3380px;}
        76.2% {margin-top:-3425px;}
        77% {margin-top:-3425px;}
        77.2% {margin-top:-3470px;}
        78% {margin-top:-3470px;}
        78.2% {margin-top:-3515px;}
        79% {margin-top:-3515px;}
        79.2% {margin-top:-3560px;}
        80% {margin-top:-3560px;}
        80.2% {margin-top:-3605px;}
        81% {margin-top:-3606px;}
        81.2% {margin-top:-3650px;}
        82% {margin-top:-3650px;}
        82.2% {margin-top:-3695px;}
        83% {margin-top:-3695px;}
        83.2% {margin-top:-3740px;}
        84% {margin-top:-3740px;}
        84.2% {margin-top:-3785px;}
        85% {margin-top:-3785px;}
        85.2% {margin-top:-3830px;}
        86% {margin-top:-3830px;}
        86.2% {margin-top:-3875px;}
        87% {margin-top:-3875px;}
        87.2% {margin-top:-3920px;}
        88% {margin-top:-3920px;}
        88.2% {margin-top:-3965px;}
        89% {margin-top:-3965px;}
        89.2% {margin-top:-4010px;}
        90% {margin-top:-4010px;}
        90.2% {margin-top:-4055px;}
        91% {margin-top:-4055px;}
        91.2% {margin-top:-4100px;}
        92% {margin-top:-4100px;}
        92.2% {margin-top:-4145px;}
        93% {margin-top:-4145px;}
        93.2% {margin-top:-4190px;}
        94% {margin-top:-4190px;}
        94.2% {margin-top:-4235px;}
        95% {margin-top:-4235px;}
        95.2% {margin-top:-4280px;}
        96% {margin-top:-4280px;}
        96.2% {margin-top:-4325px;}
        97% {margin-top:-4325px;}
        97.2% {margin-top:-4370px;}
        98% {margin-top:-4370px;}
        98.2% {margin-top:-4415px;}
        99% {margin-top:-4415px;}
        99.99% {margin-top:-4465px;}
        100% {margin-top: 40px}
      }
    }

    @media only screen
    and (device-width: 414px)
    and (device-height: 736px) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-51px;}
        2% {margin-top:-51px;}
        2.2% {margin-top:-97px;}
        3% {margin-top:-97px;}
        3.2% {margin-top:-143px;}
        4% {margin-top: -143px;}
        4.2% {margin-top:-189px;}
        5% {margin-top:-189px;}
        5.2% {margin-top:-235px;}
        6% {margin-top:-235px;}
        6.2% {margin-top:-281px;}
        7% {margin-top:-281px;}
        7.2% {margin-top:-327px;}
        8% {margin-top:-327px;}
        8.2% {margin-top:-373px;}
        9% {margin-top:-373px;}
        9.2% {margin-top:-419px;}
        10% {margin-top:-419px;}
        10.2% {margin-top:-465px;}
        11% {margin-top:-465px;}
        11.2% {margin-top:-511px;}
        12% {margin-top:-511px;}
        12.2% {margin-top:-557px;}
        13% {margin-top:-557px;}
        13.2% {margin-top:-603px;}
        14% {margin-top:-603px;}
        14.2% {margin-top:-649px;}
        15% {margin-top:-649px;}
        15.2% {margin-top:-695px;}
        16% {margin-top:-695px;}
        16.2% {margin-top:-741px;}
        17% {margin-top:-741px;}
        17.2% {margin-top:-787px;}
        18% {margin-top:-787px;}
        18.2% {margin-top:-833px;}
        19% {margin-top:-833px;}
        19.2% {margin-top:-879px;}
        20% {margin-top:-879px;}
        20.2% {margin-top:-925px;}
        21% {margin-top:-925px;}
        21.2% {margin-top:-971px;}
        22% {margin-top:-971px;}
        22.2% {margin-top:-1017px;}
        23% {margin-top:-1017px;}
        23.2% {margin-top:-1063px;}
        24% {margin-top:-1063px;}
        24.2% {margin-top:-1109px;}
        25% {margin-top:-1109px;}
        25.2% {margin-top:-1155px;}
        26% {margin-top:-1155px;}
        26.2% {margin-top:-1201px;}
        27% {margin-top:-1201px;}
        27.2% {margin-top:-1247px;}
        28% {margin-top:-1247px;}
        28.2% {margin-top:-1293px;}
        29% {margin-top:-1293px;}
        29.2% {margin-top:-1339px;}
        30% {margin-top:-1339px;}
        30.2% {margin-top:-1385px;}
        31% {margin-top:-1385px;}
        31.2% {margin-top:-1431px;}
        32% {margin-top:-1431px;}
        32.2% {margin-top:-1477px;}
        33% {margin-top:-1477px;}
        33.2% {margin-top:-1523px;}
        34% {margin-top:-1523px;}
        34.2% {margin-top:-1569px;}
        35% {margin-top:-1569px;}
        35.2% {margin-top:-1615px;}
        36% {margin-top:-1615px;}
        36.2% {margin-top:-1661px;}
        37% {margin-top:-1661px;}
        37.2% {margin-top:-1707px;}
        38% {margin-top:-1707px;}
        38.2% {margin-top:-1753px;}
        39% {margin-top:-1753px;}
        39.2% {margin-top:-1799px;}
        40% {margin-top:-1799px;}
        40.2% {margin-top:-1845px;}
        41% {margin-top:-1845px;}
        41.2% {margin-top:-1891px;}
        42% {margin-top:-1891px;}
        42.2% {margin-top:-1937px;}
        43% {margin-top:-1937px;}
        43.2% {margin-top:-1983px;}
        44% {margin-top:-1983px;}
        44.2% {margin-top:-2029px;}
        45% {margin-top:-2029px;}
        45.2% {margin-top:-2075px;}
        46% {margin-top:-2075px;}
        46.2% {margin-top:-2121px;}
        47% {margin-top:-2121px;}
        47.2% {margin-top:-2167px;}
        48% {margin-top:-2167px;}
        48.2% {margin-top:-2213px;}
        49% {margin-top:-2213px;}
        49.2% {margin-top:-2259px;}
        50% {margin-top:-2259px;}
        50.2% {margin-top:-2305px;}
        51% {margin-top:-2305px;}
        51.2% {margin-top:-2351px;}
        52% {margin-top:-2351px;}
        52.2% {margin-top:-2397px;}
        53% {margin-top:-2397px;}
        53.2% {margin-top:-2443px;}
        54% {margin-top:-2443px;}
        54.2% {margin-top:-2489px;}
        55% {margin-top:-2489px;}
        55.2% {margin-top:-2535px;}
        56% {margin-top:-2535px;}
        56.2% {margin-top:-2581px;}
        57% {margin-top:-2581px;}
        57.2% {margin-top:-2627px;}
        58% {margin-top:-2627px;}
        58.2% {margin-top:-2673px;}
        59% {margin-top:-2673px;}
        59.2% {margin-top:-2719px;}
        60% {margin-top:-2719px;}
        60.2% {margin-top:-2765px;}
        61% {margin-top:-2765px;}
        61.2% {margin-top:-2811px;}
        62% {margin-top:-2811px;}
        62.2% {margin-top:-2857px;}
        63% {margin-top:-2857px;}
        63.2% {margin-top:-2903px;}
        64% {margin-top:-2903px;}
        64.2% {margin-top:-2949px;}
        65% {margin-top:-2949px;}
        65.2% {margin-top:-2995px;}
        66% {margin-top:-2995px;}
        66.2% {margin-top:-3041px;}
        67% {margin-top:-3041px;}
        67.2% {margin-top:-3087px;}
        68% {margin-top:-3087px;}
        68.2% {margin-top:-3133px;}
        69% {margin-top:-3133px;}
        69.2% {margin-top:-3179px;}
        70% {margin-top:-3179px;}
        70.2% {margin-top:-3225px;}
        71% {margin-top:-3225px;}
        71.2% {margin-top:-3271px;}
        72% {margin-top:-3271px;}
        72.2% {margin-top:-3317px;}
        73% {margin-top:-3317px;}
        73.2% {margin-top:-3363px;}
        74% {margin-top:-3363px;}
        74.2% {margin-top:-3409px;}
        75% {margin-top:-3409px;}
        75.2% {margin-top:-3455px;}
        76% {margin-top:-3455px;}
        76.2% {margin-top:-3501px;}
        77% {margin-top:-3501px;}
        77.2% {margin-top:-3547px;}
        78% {margin-top:-3547px;}
        78.2% {margin-top:-3593px;}
        79% {margin-top:-3593px;}
        79.2% {margin-top:-3639px;}
        80% {margin-top:-3639px;}
        80.2% {margin-top:-3685px;}
        81% {margin-top:-3685px;}
        81.2% {margin-top:-3713px;}
        82% {margin-top:-3713px;}
        82.2% {margin-top:-3777px;}
        83% {margin-top:-3777px;}
        83.2% {margin-top:-3823px;}
        84% {margin-top:-3823px;}
        84.2% {margin-top:-3869px;}
        85% {margin-top:-3869px;}
        85.2% {margin-top:-3915px;}
        86% {margin-top:-3915px;}
        86.2% {margin-top:-3961px;}
        87% {margin-top:-3961px;}
        87.2% {margin-top:-4007px;}
        88% {margin-top:-4007px;}
        88.2% {margin-top:-4053px;}
        89% {margin-top:-4053px;}
        89.2% {margin-top:-4099px;}
        90% {margin-top:-4099px;}
        90.2% {margin-top:-4145px;}
        91% {margin-top:-4145px;}
        91.2% {margin-top:-4191px;}
        92% {margin-top:-4191px;}
        92.2% {margin-top:-4237px;}
        93% {margin-top:-4237px;}
        93.2% {margin-top:-4283px;}
        94% {margin-top:-4283px;}
        94.2% {margin-top:-4329px;}
        95% {margin-top:-4329px;}
        95.2% {margin-top:-4375px;}
        96% {margin-top:-4375px;}
        96.2% {margin-top:-4421px;}
        97% {margin-top:-4421px;}
        97.2% {margin-top:-4467px;}
        98% {margin-top:-4467px;}
        98.2% {margin-top:-4513px;}
        99% {margin-top:-4513px;}
        99.99% {margin-top:-4559px;}
        100% {margin-top: 40px}
      }
    }


    @media only screen
    and (device-width: 414px)
    and (device-height: 896px) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-51px;}
        2% {margin-top:-51px;}
        2.2% {margin-top:-97px;}
        3% {margin-top:-97px;}
        3.2% {margin-top:-143px;}
        4% {margin-top: -143px;}
        4.2% {margin-top:-189px;}
        5% {margin-top:-189px;}
        5.2% {margin-top:-235px;}
        6% {margin-top:-235px;}
        6.2% {margin-top:-281px;}
        7% {margin-top:-281px;}
        7.2% {margin-top:-327px;}
        8% {margin-top:-327px;}
        8.2% {margin-top:-373px;}
        9% {margin-top:-373px;}
        9.2% {margin-top:-419px;}
        10% {margin-top:-419px;}
        10.2% {margin-top:-465px;}
        11% {margin-top:-465px;}
        11.2% {margin-top:-511px;}
        12% {margin-top:-511px;}
        12.2% {margin-top:-557px;}
        13% {margin-top:-557px;}
        13.2% {margin-top:-603px;}
        14% {margin-top:-603px;}
        14.2% {margin-top:-649px;}
        15% {margin-top:-649px;}
        15.2% {margin-top:-695px;}
        16% {margin-top:-695px;}
        16.2% {margin-top:-741px;}
        17% {margin-top:-741px;}
        17.2% {margin-top:-787px;}
        18% {margin-top:-787px;}
        18.2% {margin-top:-833px;}
        19% {margin-top:-833px;}
        19.2% {margin-top:-879px;}
        20% {margin-top:-879px;}
        20.2% {margin-top:-925px;}
        21% {margin-top:-925px;}
        21.2% {margin-top:-971px;}
        22% {margin-top:-971px;}
        22.2% {margin-top:-1017px;}
        23% {margin-top:-1017px;}
        23.2% {margin-top:-1063px;}
        24% {margin-top:-1063px;}
        24.2% {margin-top:-1109px;}
        25% {margin-top:-1109px;}
        25.2% {margin-top:-1155px;}
        26% {margin-top:-1155px;}
        26.2% {margin-top:-1201px;}
        27% {margin-top:-1201px;}
        27.2% {margin-top:-1247px;}
        28% {margin-top:-1247px;}
        28.2% {margin-top:-1293px;}
        29% {margin-top:-1293px;}
        29.2% {margin-top:-1339px;}
        30% {margin-top:-1339px;}
        30.2% {margin-top:-1385px;}
        31% {margin-top:-1385px;}
        31.2% {margin-top:-1431px;}
        32% {margin-top:-1431px;}
        32.2% {margin-top:-1477px;}
        33% {margin-top:-1477px;}
        33.2% {margin-top:-1523px;}
        34% {margin-top:-1523px;}
        34.2% {margin-top:-1569px;}
        35% {margin-top:-1569px;}
        35.2% {margin-top:-1615px;}
        36% {margin-top:-1615px;}
        36.2% {margin-top:-1661px;}
        37% {margin-top:-1661px;}
        37.2% {margin-top:-1707px;}
        38% {margin-top:-1707px;}
        38.2% {margin-top:-1753px;}
        39% {margin-top:-1753px;}
        39.2% {margin-top:-1799px;}
        40% {margin-top:-1799px;}
        40.2% {margin-top:-1845px;}
        41% {margin-top:-1845px;}
        41.2% {margin-top:-1891px;}
        42% {margin-top:-1891px;}
        42.2% {margin-top:-1937px;}
        43% {margin-top:-1937px;}
        43.2% {margin-top:-1983px;}
        44% {margin-top:-1983px;}
        44.2% {margin-top:-2029px;}
        45% {margin-top:-2029px;}
        45.2% {margin-top:-2075px;}
        46% {margin-top:-2075px;}
        46.2% {margin-top:-2121px;}
        47% {margin-top:-2121px;}
        47.2% {margin-top:-2167px;}
        48% {margin-top:-2167px;}
        48.2% {margin-top:-2213px;}
        49% {margin-top:-2213px;}
        49.2% {margin-top:-2259px;}
        50% {margin-top:-2259px;}
        50.2% {margin-top:-2305px;}
        51% {margin-top:-2305px;}
        51.2% {margin-top:-2351px;}
        52% {margin-top:-2351px;}
        52.2% {margin-top:-2397px;}
        53% {margin-top:-2397px;}
        53.2% {margin-top:-2443px;}
        54% {margin-top:-2443px;}
        54.2% {margin-top:-2489px;}
        55% {margin-top:-2489px;}
        55.2% {margin-top:-2535px;}
        56% {margin-top:-2535px;}
        56.2% {margin-top:-2581px;}
        57% {margin-top:-2581px;}
        57.2% {margin-top:-2627px;}
        58% {margin-top:-2627px;}
        58.2% {margin-top:-2673px;}
        59% {margin-top:-2673px;}
        59.2% {margin-top:-2719px;}
        60% {margin-top:-2719px;}
        60.2% {margin-top:-2765px;}
        61% {margin-top:-2765px;}
        61.2% {margin-top:-2811px;}
        62% {margin-top:-2811px;}
        62.2% {margin-top:-2857px;}
        63% {margin-top:-2857px;}
        63.2% {margin-top:-2903px;}
        64% {margin-top:-2903px;}
        64.2% {margin-top:-2949px;}
        65% {margin-top:-2949px;}
        65.2% {margin-top:-2995px;}
        66% {margin-top:-2995px;}
        66.2% {margin-top:-3041px;}
        67% {margin-top:-3041px;}
        67.2% {margin-top:-3087px;}
        68% {margin-top:-3087px;}
        68.2% {margin-top:-3133px;}
        69% {margin-top:-3133px;}
        69.2% {margin-top:-3179px;}
        70% {margin-top:-3179px;}
        70.2% {margin-top:-3225px;}
        71% {margin-top:-3225px;}
        71.2% {margin-top:-3271px;}
        72% {margin-top:-3271px;}
        72.2% {margin-top:-3317px;}
        73% {margin-top:-3317px;}
        73.2% {margin-top:-3363px;}
        74% {margin-top:-3363px;}
        74.2% {margin-top:-3409px;}
        75% {margin-top:-3409px;}
        75.2% {margin-top:-3455px;}
        76% {margin-top:-3455px;}
        76.2% {margin-top:-3501px;}
        77% {margin-top:-3501px;}
        77.2% {margin-top:-3547px;}
        78% {margin-top:-3547px;}
        78.2% {margin-top:-3593px;}
        79% {margin-top:-3593px;}
        79.2% {margin-top:-3639px;}
        80% {margin-top:-3639px;}
        80.2% {margin-top:-3685px;}
        81% {margin-top:-3685px;}
        81.2% {margin-top:-3713px;}
        82% {margin-top:-3713px;}
        82.2% {margin-top:-3777px;}
        83% {margin-top:-3777px;}
        83.2% {margin-top:-3823px;}
        84% {margin-top:-3823px;}
        84.2% {margin-top:-3869px;}
        85% {margin-top:-3869px;}
        85.2% {margin-top:-3915px;}
        86% {margin-top:-3915px;}
        86.2% {margin-top:-3961px;}
        87% {margin-top:-3961px;}
        87.2% {margin-top:-4007px;}
        88% {margin-top:-4007px;}
        88.2% {margin-top:-4053px;}
        89% {margin-top:-4053px;}
        89.2% {margin-top:-4099px;}
        90% {margin-top:-4099px;}
        90.2% {margin-top:-4145px;}
        91% {margin-top:-4145px;}
        91.2% {margin-top:-4191px;}
        92% {margin-top:-4191px;}
        92.2% {margin-top:-4237px;}
        93% {margin-top:-4237px;}
        93.2% {margin-top:-4283px;}
        94% {margin-top:-4283px;}
        94.2% {margin-top:-4329px;}
        95% {margin-top:-4329px;}
        95.2% {margin-top:-4375px;}
        96% {margin-top:-4375px;}
        96.2% {margin-top:-4421px;}
        97% {margin-top:-4421px;}
        97.2% {margin-top:-4467px;}
        98% {margin-top:-4467px;}
        98.2% {margin-top:-4513px;}
        99% {margin-top:-4513px;}
        99.99% {margin-top:-4559px;}
        100% {margin-top: 40px}
      }
    }

    @include multiple-media(mediumScreen) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-49px;}
        2% {margin-top:-49px;}
        2.2% {margin-top:-93px;}
        3% {margin-top:-93px;}
        3.2% {margin-top:-137px;}
        4% {margin-top: -137px;}
        4.2% {margin-top:-181px;}
        5% {margin-top:-181px;}
        5.2% {margin-top:-225px;}
        6% {margin-top:-225px;}
        6.2% {margin-top:-269px;}
        7% {margin-top:-269px;}
        7.2% {margin-top:-313px;}
        8% {margin-top:-313px;}
        8.2% {margin-top:-357px;}
        9% {margin-top:-357px;}
        9.2% {margin-top:-401px;}
        10% {margin-top:-401px;}
        10.2% {margin-top:-445px;}
        11% {margin-top:-445px;}
        11.2% {margin-top:-489px;}
        12% {margin-top:-489px;}
        12.2% {margin-top:-533px;}
        13% {margin-top:-533px;}
        13.2% {margin-top:-577px;}
        14% {margin-top:-577px;}
        14.2% {margin-top:-621px;}
        15% {margin-top:-621px;}
        15.2% {margin-top:-665px;}
        16% {margin-top:-665px;}
        16.2% {margin-top:-709px;}
        17% {margin-top:-709px;}
        17.2% {margin-top:-753px;}
        18% {margin-top:-753px;}
        18.2% {margin-top:-797px;}
        19% {margin-top:-797px;}
        19.2% {margin-top:-841px;}
        20% {margin-top:-841px;}
        20.2% {margin-top:-885px;}
        21% {margin-top:-885px;}
        21.2% {margin-top:-929px;}
        22% {margin-top:-929px;}
        22.2% {margin-top:-973px;}
        23% {margin-top:-973px;}
        23.2% {margin-top:-1017px;}
        24% {margin-top:-1017px;}
        24.2% {margin-top:-1061px;}
        25% {margin-top:-1061px;}
        25.2% {margin-top:-1105px;}
        26% {margin-top:-1105px;}
        26.2% {margin-top:-1149px;}
        27% {margin-top:-1149px;}
        27.2% {margin-top:-1193px;}
        28% {margin-top:-1193px;}
        28.2% {margin-top:-1237px;}
        29% {margin-top:-1237px;}
        29.2% {margin-top:-1281px;}
        30% {margin-top:-1281px;}
        30.2% {margin-top:-1325px;}
        31% {margin-top:-1325px;}
        31.2% {margin-top:-1369px;}
        32% {margin-top:-1369px;}
        32.2% {margin-top:-1413px;}
        33% {margin-top:-1413px;}
        33.2% {margin-top:-1457px;}
        34% {margin-top:-1457px;}
        34.2% {margin-top:-1501px;}
        35% {margin-top:-1501px;}
        35.2% {margin-top:-1545px;}
        36% {margin-top:-1545px;}
        36.2% {margin-top:-1589px;}
        37% {margin-top:-1589px;}
        37.2% {margin-top:-1633px;}
        38% {margin-top:-1633px;}
        38.2% {margin-top:-1677px;}
        39% {margin-top:-1677px;}
        39.2% {margin-top:-1721px;}
        40% {margin-top:-1721px;}
        40.2% {margin-top:-1765px;}
        41% {margin-top:-1765px;}
        41.2% {margin-top:-1809px;}
        42% {margin-top:-1809px;}
        42.2% {margin-top:-1853px;}
        43% {margin-top:-1853px;}
        43.2% {margin-top:-1897px;}
        44% {margin-top:-1897px;}
        44.2% {margin-top:-1941px;}
        45% {margin-top:-1941px;}
        45.2% {margin-top:-1985px;}
        46% {margin-top:-1985px;}
        46.2% {margin-top:-2029px;}
        47% {margin-top:-2029px;}
        47.2% {margin-top:-2073px;}
        48% {margin-top:-2073px;}
        48.2% {margin-top:-2117px;}
        49% {margin-top:-2117px;}
        49.2% {margin-top:-2161px;}
        50% {margin-top:-2161px;}
        50.2% {margin-top:-2205px;}
        51% {margin-top:-2205px;}
        51.2% {margin-top:-2249px;}
        52% {margin-top:-2249px;}
        52.2% {margin-top:-2293px;}
        53% {margin-top:-2293px;}
        53.2% {margin-top:-2337px;}
        54% {margin-top:-2337px;}
        54.2% {margin-top:-2381px;}
        55% {margin-top:-2381px;}
        55.2% {margin-top:-2425px;}
        56% {margin-top:-2425px;}
        56.2% {margin-top:-2469px;}
        57% {margin-top:-2469px;}
        57.2% {margin-top:-2513px;}
        58% {margin-top:-2513px;}
        58.2% {margin-top:-2557px;}
        59% {margin-top:-2557px;}
        59.2% {margin-top:-2601px;}
        60% {margin-top:-2601px;}
        60.2% {margin-top:-2645px;}
        61% {margin-top:-2645px;}
        61.2% {margin-top:-2689px;}
        62% {margin-top:-2689px;}
        62.2% {margin-top:-2733px;}
        63% {margin-top:-2733px;}
        63.2% {margin-top:-2777px;}
        64% {margin-top:-2777px;}
        64.2% {margin-top:-2821px;}
        65% {margin-top:-2821px;}
        65.2% {margin-top:-2865px;}
        66% {margin-top:-2865px;}
        66.2% {margin-top:-2909px;}
        67% {margin-top:-2909px;}
        67.2% {margin-top:-2953px;}
        68% {margin-top:-2953px;}
        68.2% {margin-top:-2997px;}
        69% {margin-top:-2997px;}
        69.2% {margin-top:-3041px;}
        70% {margin-top:-3041px;}
        70.2% {margin-top:-3085px;}
        71% {margin-top:-3085px;}
        71.2% {margin-top:-3129px;}
        72% {margin-top:-3129px;}
        72.2% {margin-top:-3173px;}
        73% {margin-top:-3173px;}
        73.2% {margin-top:-3217px;}
        74% {margin-top:-3217px;}
        74.2% {margin-top:-3261px;}
        75% {margin-top:-3261px;}
        75.2% {margin-top:-3305px;}
        76% {margin-top:-3305px;}
        76.2% {margin-top:-3349px;}
        77% {margin-top:-3349px;}
        77.2% {margin-top:-3393px;}
        78% {margin-top:-3393px;}
        78.2% {margin-top:-3437px;}
        79% {margin-top:-3437px;}
        79.2% {margin-top:-3481px;}
        80% {margin-top:-3481px;}
        80.2% {margin-top:-3525px;}
        81% {margin-top:-3525px;}
        81.2% {margin-top:-3569px;}
        82% {margin-top:-3569px;}
        82.2% {margin-top:-3613px;}
        83% {margin-top:-3613px;}
        83.2% {margin-top:-3657px;}
        84% {margin-top:-3657px;}
        84.2% {margin-top:-3701px;}
        85% {margin-top:-3701px;}
        85.2% {margin-top:-3745px;}
        86% {margin-top:-3745px;}
        86.2% {margin-top:-3789px;}
        87% {margin-top:-3789px;}
        87.2% {margin-top:-3833px;}
        88% {margin-top:-3833px;}
        88.2% {margin-top:-3877px;}
        89% {margin-top:-3877px;}
        89.2% {margin-top:-3921px;}
        90% {margin-top:-3921px;}
        90.2% {margin-top:-3965px;}
        91% {margin-top:-3965px;}
        91.2% {margin-top:-4009px;}
        92% {margin-top:-4009px;}
        92.2% {margin-top:-4053px;}
        93% {margin-top:-4053px;}
        93.2% {margin-top:-4097px;}
        94% {margin-top:-4097px;}
        94.2% {margin-top:-4141px;}
        95% {margin-top:-4141px;}
        95.2% {margin-top:-4185px;}
        96% {margin-top:-4185px;}
        96.2% {margin-top:-4229px;}
        97% {margin-top:-4229px;}
        97.2% {margin-top:-4273px;}
        98% {margin-top:-4273px;}
        98.2% {margin-top:-4317px;}
        99% {margin-top:-4317px;}
        99.99% {margin-top:-4366px;}
        100% {margin-top: 40px}
      }
    }

    @media only screen
    and (device-width : 768px)
    and (orientation : portrait) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-51px;}
        2% {margin-top:-51px;}
        2.2% {margin-top:-97px;}
        3% {margin-top:-97px;}
        3.2% {margin-top:-143px;}
        4% {margin-top: -143px;}
        4.2% {margin-top:-189px;}
        5% {margin-top:-189px;}
        5.2% {margin-top:-235px;}
        6% {margin-top:-235px;}
        6.2% {margin-top:-281px;}
        7% {margin-top:-281px;}
        7.2% {margin-top:-327px;}
        8% {margin-top:-327px;}
        8.2% {margin-top:-373px;}
        9% {margin-top:-373px;}
        9.2% {margin-top:-419px;}
        10% {margin-top:-419px;}
        10.2% {margin-top:-465px;}
        11% {margin-top:-465px;}
        11.2% {margin-top:-511px;}
        12% {margin-top:-511px;}
        12.2% {margin-top:-557px;}
        13% {margin-top:-557px;}
        13.2% {margin-top:-603px;}
        14% {margin-top:-603px;}
        14.2% {margin-top:-649px;}
        15% {margin-top:-649px;}
        15.2% {margin-top:-695px;}
        16% {margin-top:-695px;}
        16.2% {margin-top:-741px;}
        17% {margin-top:-741px;}
        17.2% {margin-top:-787px;}
        18% {margin-top:-787px;}
        18.2% {margin-top:-833px;}
        19% {margin-top:-833px;}
        19.2% {margin-top:-879px;}
        20% {margin-top:-879px;}
        20.2% {margin-top:-925px;}
        21% {margin-top:-925px;}
        21.2% {margin-top:-971px;}
        22% {margin-top:-971px;}
        22.2% {margin-top:-1017px;}
        23% {margin-top:-1017px;}
        23.2% {margin-top:-1063px;}
        24% {margin-top:-1063px;}
        24.2% {margin-top:-1109px;}
        25% {margin-top:-1109px;}
        25.2% {margin-top:-1155px;}
        26% {margin-top:-1155px;}
        26.2% {margin-top:-1201px;}
        27% {margin-top:-1201px;}
        27.2% {margin-top:-1247px;}
        28% {margin-top:-1247px;}
        28.2% {margin-top:-1293px;}
        29% {margin-top:-1293px;}
        29.2% {margin-top:-1339px;}
        30% {margin-top:-1339px;}
        30.2% {margin-top:-1385px;}
        31% {margin-top:-1385px;}
        31.2% {margin-top:-1431px;}
        32% {margin-top:-1431px;}
        32.2% {margin-top:-1477px;}
        33% {margin-top:-1477px;}
        33.2% {margin-top:-1523px;}
        34% {margin-top:-1523px;}
        34.2% {margin-top:-1569px;}
        35% {margin-top:-1569px;}
        35.2% {margin-top:-1615px;}
        36% {margin-top:-1615px;}
        36.2% {margin-top:-1661px;}
        37% {margin-top:-1661px;}
        37.2% {margin-top:-1707px;}
        38% {margin-top:-1707px;}
        38.2% {margin-top:-1753px;}
        39% {margin-top:-1753px;}
        39.2% {margin-top:-1799px;}
        40% {margin-top:-1799px;}
        40.2% {margin-top:-1845px;}
        41% {margin-top:-1845px;}
        41.2% {margin-top:-1891px;}
        42% {margin-top:-1891px;}
        42.2% {margin-top:-1937px;}
        43% {margin-top:-1937px;}
        43.2% {margin-top:-1983px;}
        44% {margin-top:-1983px;}
        44.2% {margin-top:-2029px;}
        45% {margin-top:-2029px;}
        45.2% {margin-top:-2075px;}
        46% {margin-top:-2075px;}
        46.2% {margin-top:-2121px;}
        47% {margin-top:-2121px;}
        47.2% {margin-top:-2167px;}
        48% {margin-top:-2167px;}
        48.2% {margin-top:-2213px;}
        49% {margin-top:-2213px;}
        49.2% {margin-top:-2259px;}
        50% {margin-top:-2259px;}
        50.2% {margin-top:-2305px;}
        51% {margin-top:-2305px;}
        51.2% {margin-top:-2351px;}
        52% {margin-top:-2351px;}
        52.2% {margin-top:-2397px;}
        53% {margin-top:-2397px;}
        53.2% {margin-top:-2443px;}
        54% {margin-top:-2443px;}
        54.2% {margin-top:-2489px;}
        55% {margin-top:-2489px;}
        55.2% {margin-top:-2535px;}
        56% {margin-top:-2535px;}
        56.2% {margin-top:-2581px;}
        57% {margin-top:-2581px;}
        57.2% {margin-top:-2627px;}
        58% {margin-top:-2627px;}
        58.2% {margin-top:-2673px;}
        59% {margin-top:-2673px;}
        59.2% {margin-top:-2719px;}
        60% {margin-top:-2719px;}
        60.2% {margin-top:-2765px;}
        61% {margin-top:-2765px;}
        61.2% {margin-top:-2811px;}
        62% {margin-top:-2811px;}
        62.2% {margin-top:-2857px;}
        63% {margin-top:-2857px;}
        63.2% {margin-top:-2903px;}
        64% {margin-top:-2903px;}
        64.2% {margin-top:-2949px;}
        65% {margin-top:-2949px;}
        65.2% {margin-top:-2995px;}
        66% {margin-top:-2995px;}
        66.2% {margin-top:-3041px;}
        67% {margin-top:-3041px;}
        67.2% {margin-top:-3087px;}
        68% {margin-top:-3087px;}
        68.2% {margin-top:-3133px;}
        69% {margin-top:-3133px;}
        69.2% {margin-top:-3179px;}
        70% {margin-top:-3179px;}
        70.2% {margin-top:-3225px;}
        71% {margin-top:-3225px;}
        71.2% {margin-top:-3271px;}
        72% {margin-top:-3271px;}
        72.2% {margin-top:-3317px;}
        73% {margin-top:-3317px;}
        73.2% {margin-top:-3363px;}
        74% {margin-top:-3363px;}
        74.2% {margin-top:-3409px;}
        75% {margin-top:-3409px;}
        75.2% {margin-top:-3455px;}
        76% {margin-top:-3455px;}
        76.2% {margin-top:-3501px;}
        77% {margin-top:-3501px;}
        77.2% {margin-top:-3547px;}
        78% {margin-top:-3547px;}
        78.2% {margin-top:-3593px;}
        79% {margin-top:-3593px;}
        79.2% {margin-top:-3639px;}
        80% {margin-top:-3639px;}
        80.2% {margin-top:-3685px;}
        81% {margin-top:-3685px;}
        81.2% {margin-top:-3713px;}
        82% {margin-top:-3713px;}
        82.2% {margin-top:-3777px;}
        83% {margin-top:-3777px;}
        83.2% {margin-top:-3823px;}
        84% {margin-top:-3823px;}
        84.2% {margin-top:-3869px;}
        85% {margin-top:-3869px;}
        85.2% {margin-top:-3915px;}
        86% {margin-top:-3915px;}
        86.2% {margin-top:-3961px;}
        87% {margin-top:-3961px;}
        87.2% {margin-top:-4007px;}
        88% {margin-top:-4007px;}
        88.2% {margin-top:-4053px;}
        89% {margin-top:-4053px;}
        89.2% {margin-top:-4099px;}
        90% {margin-top:-4099px;}
        90.2% {margin-top:-4145px;}
        91% {margin-top:-4145px;}
        91.2% {margin-top:-4191px;}
        92% {margin-top:-4191px;}
        92.2% {margin-top:-4237px;}
        93% {margin-top:-4237px;}
        93.2% {margin-top:-4283px;}
        94% {margin-top:-4283px;}
        94.2% {margin-top:-4329px;}
        95% {margin-top:-4329px;}
        95.2% {margin-top:-4375px;}
        96% {margin-top:-4375px;}
        96.2% {margin-top:-4421px;}
        97% {margin-top:-4421px;}
        97.2% {margin-top:-4467px;}
        98% {margin-top:-4467px;}
        98.2% {margin-top:-4513px;}
        99% {margin-top:-4513px;}
        99.99% {margin-top:-4559px;}
        100% {margin-top: 40px}
      }
    }

    @media only screen
    and (device-width : 834px)
    and (orientation : portrait) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-51px;}
        2% {margin-top:-51px;}
        2.2% {margin-top:-97px;}
        3% {margin-top:-97px;}
        3.2% {margin-top:-143px;}
        4% {margin-top: -143px;}
        4.2% {margin-top:-189px;}
        5% {margin-top:-189px;}
        5.2% {margin-top:-235px;}
        6% {margin-top:-235px;}
        6.2% {margin-top:-281px;}
        7% {margin-top:-281px;}
        7.2% {margin-top:-327px;}
        8% {margin-top:-327px;}
        8.2% {margin-top:-373px;}
        9% {margin-top:-373px;}
        9.2% {margin-top:-419px;}
        10% {margin-top:-419px;}
        10.2% {margin-top:-465px;}
        11% {margin-top:-465px;}
        11.2% {margin-top:-511px;}
        12% {margin-top:-511px;}
        12.2% {margin-top:-557px;}
        13% {margin-top:-557px;}
        13.2% {margin-top:-603px;}
        14% {margin-top:-603px;}
        14.2% {margin-top:-649px;}
        15% {margin-top:-649px;}
        15.2% {margin-top:-695px;}
        16% {margin-top:-695px;}
        16.2% {margin-top:-741px;}
        17% {margin-top:-741px;}
        17.2% {margin-top:-787px;}
        18% {margin-top:-787px;}
        18.2% {margin-top:-833px;}
        19% {margin-top:-833px;}
        19.2% {margin-top:-879px;}
        20% {margin-top:-879px;}
        20.2% {margin-top:-925px;}
        21% {margin-top:-925px;}
        21.2% {margin-top:-971px;}
        22% {margin-top:-971px;}
        22.2% {margin-top:-1017px;}
        23% {margin-top:-1017px;}
        23.2% {margin-top:-1063px;}
        24% {margin-top:-1063px;}
        24.2% {margin-top:-1109px;}
        25% {margin-top:-1109px;}
        25.2% {margin-top:-1155px;}
        26% {margin-top:-1155px;}
        26.2% {margin-top:-1201px;}
        27% {margin-top:-1201px;}
        27.2% {margin-top:-1247px;}
        28% {margin-top:-1247px;}
        28.2% {margin-top:-1293px;}
        29% {margin-top:-1293px;}
        29.2% {margin-top:-1339px;}
        30% {margin-top:-1339px;}
        30.2% {margin-top:-1385px;}
        31% {margin-top:-1385px;}
        31.2% {margin-top:-1431px;}
        32% {margin-top:-1431px;}
        32.2% {margin-top:-1477px;}
        33% {margin-top:-1477px;}
        33.2% {margin-top:-1523px;}
        34% {margin-top:-1523px;}
        34.2% {margin-top:-1569px;}
        35% {margin-top:-1569px;}
        35.2% {margin-top:-1615px;}
        36% {margin-top:-1615px;}
        36.2% {margin-top:-1661px;}
        37% {margin-top:-1661px;}
        37.2% {margin-top:-1707px;}
        38% {margin-top:-1707px;}
        38.2% {margin-top:-1753px;}
        39% {margin-top:-1753px;}
        39.2% {margin-top:-1799px;}
        40% {margin-top:-1799px;}
        40.2% {margin-top:-1845px;}
        41% {margin-top:-1845px;}
        41.2% {margin-top:-1891px;}
        42% {margin-top:-1891px;}
        42.2% {margin-top:-1937px;}
        43% {margin-top:-1937px;}
        43.2% {margin-top:-1983px;}
        44% {margin-top:-1983px;}
        44.2% {margin-top:-2029px;}
        45% {margin-top:-2029px;}
        45.2% {margin-top:-2075px;}
        46% {margin-top:-2075px;}
        46.2% {margin-top:-2121px;}
        47% {margin-top:-2121px;}
        47.2% {margin-top:-2167px;}
        48% {margin-top:-2167px;}
        48.2% {margin-top:-2213px;}
        49% {margin-top:-2213px;}
        49.2% {margin-top:-2259px;}
        50% {margin-top:-2259px;}
        50.2% {margin-top:-2305px;}
        51% {margin-top:-2305px;}
        51.2% {margin-top:-2351px;}
        52% {margin-top:-2351px;}
        52.2% {margin-top:-2397px;}
        53% {margin-top:-2397px;}
        53.2% {margin-top:-2443px;}
        54% {margin-top:-2443px;}
        54.2% {margin-top:-2489px;}
        55% {margin-top:-2489px;}
        55.2% {margin-top:-2535px;}
        56% {margin-top:-2535px;}
        56.2% {margin-top:-2581px;}
        57% {margin-top:-2581px;}
        57.2% {margin-top:-2627px;}
        58% {margin-top:-2627px;}
        58.2% {margin-top:-2673px;}
        59% {margin-top:-2673px;}
        59.2% {margin-top:-2719px;}
        60% {margin-top:-2719px;}
        60.2% {margin-top:-2765px;}
        61% {margin-top:-2765px;}
        61.2% {margin-top:-2811px;}
        62% {margin-top:-2811px;}
        62.2% {margin-top:-2857px;}
        63% {margin-top:-2857px;}
        63.2% {margin-top:-2903px;}
        64% {margin-top:-2903px;}
        64.2% {margin-top:-2949px;}
        65% {margin-top:-2949px;}
        65.2% {margin-top:-2995px;}
        66% {margin-top:-2995px;}
        66.2% {margin-top:-3041px;}
        67% {margin-top:-3041px;}
        67.2% {margin-top:-3087px;}
        68% {margin-top:-3087px;}
        68.2% {margin-top:-3133px;}
        69% {margin-top:-3133px;}
        69.2% {margin-top:-3179px;}
        70% {margin-top:-3179px;}
        70.2% {margin-top:-3225px;}
        71% {margin-top:-3225px;}
        71.2% {margin-top:-3271px;}
        72% {margin-top:-3271px;}
        72.2% {margin-top:-3317px;}
        73% {margin-top:-3317px;}
        73.2% {margin-top:-3363px;}
        74% {margin-top:-3363px;}
        74.2% {margin-top:-3409px;}
        75% {margin-top:-3409px;}
        75.2% {margin-top:-3455px;}
        76% {margin-top:-3455px;}
        76.2% {margin-top:-3501px;}
        77% {margin-top:-3501px;}
        77.2% {margin-top:-3547px;}
        78% {margin-top:-3547px;}
        78.2% {margin-top:-3593px;}
        79% {margin-top:-3593px;}
        79.2% {margin-top:-3639px;}
        80% {margin-top:-3639px;}
        80.2% {margin-top:-3685px;}
        81% {margin-top:-3685px;}
        81.2% {margin-top:-3713px;}
        82% {margin-top:-3713px;}
        82.2% {margin-top:-3777px;}
        83% {margin-top:-3777px;}
        83.2% {margin-top:-3823px;}
        84% {margin-top:-3823px;}
        84.2% {margin-top:-3869px;}
        85% {margin-top:-3869px;}
        85.2% {margin-top:-3915px;}
        86% {margin-top:-3915px;}
        86.2% {margin-top:-3961px;}
        87% {margin-top:-3961px;}
        87.2% {margin-top:-4007px;}
        88% {margin-top:-4007px;}
        88.2% {margin-top:-4053px;}
        89% {margin-top:-4053px;}
        89.2% {margin-top:-4099px;}
        90% {margin-top:-4099px;}
        90.2% {margin-top:-4145px;}
        91% {margin-top:-4145px;}
        91.2% {margin-top:-4191px;}
        92% {margin-top:-4191px;}
        92.2% {margin-top:-4237px;}
        93% {margin-top:-4237px;}
        93.2% {margin-top:-4283px;}
        94% {margin-top:-4283px;}
        94.2% {margin-top:-4329px;}
        95% {margin-top:-4329px;}
        95.2% {margin-top:-4375px;}
        96% {margin-top:-4375px;}
        96.2% {margin-top:-4421px;}
        97% {margin-top:-4421px;}
        97.2% {margin-top:-4467px;}
        98% {margin-top:-4467px;}
        98.2% {margin-top:-4513px;}
        99% {margin-top:-4513px;}
        99.99% {margin-top:-4559px;}
        100% {margin-top: 40px}
      }
    }

    @media only screen
    and (device-width : 834px)
    and (orientation : landscape) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-51px;}
        2% {margin-top:-51px;}
        2.2% {margin-top:-97px;}
        3% {margin-top:-97px;}
        3.2% {margin-top:-143px;}
        4% {margin-top: -143px;}
        4.2% {margin-top:-189px;}
        5% {margin-top:-189px;}
        5.2% {margin-top:-235px;}
        6% {margin-top:-235px;}
        6.2% {margin-top:-281px;}
        7% {margin-top:-281px;}
        7.2% {margin-top:-327px;}
        8% {margin-top:-327px;}
        8.2% {margin-top:-373px;}
        9% {margin-top:-373px;}
        9.2% {margin-top:-419px;}
        10% {margin-top:-419px;}
        10.2% {margin-top:-465px;}
        11% {margin-top:-465px;}
        11.2% {margin-top:-511px;}
        12% {margin-top:-511px;}
        12.2% {margin-top:-557px;}
        13% {margin-top:-557px;}
        13.2% {margin-top:-603px;}
        14% {margin-top:-603px;}
        14.2% {margin-top:-649px;}
        15% {margin-top:-649px;}
        15.2% {margin-top:-695px;}
        16% {margin-top:-695px;}
        16.2% {margin-top:-741px;}
        17% {margin-top:-741px;}
        17.2% {margin-top:-787px;}
        18% {margin-top:-787px;}
        18.2% {margin-top:-833px;}
        19% {margin-top:-833px;}
        19.2% {margin-top:-879px;}
        20% {margin-top:-879px;}
        20.2% {margin-top:-925px;}
        21% {margin-top:-925px;}
        21.2% {margin-top:-971px;}
        22% {margin-top:-971px;}
        22.2% {margin-top:-1017px;}
        23% {margin-top:-1017px;}
        23.2% {margin-top:-1063px;}
        24% {margin-top:-1063px;}
        24.2% {margin-top:-1109px;}
        25% {margin-top:-1109px;}
        25.2% {margin-top:-1155px;}
        26% {margin-top:-1155px;}
        26.2% {margin-top:-1201px;}
        27% {margin-top:-1201px;}
        27.2% {margin-top:-1247px;}
        28% {margin-top:-1247px;}
        28.2% {margin-top:-1293px;}
        29% {margin-top:-1293px;}
        29.2% {margin-top:-1339px;}
        30% {margin-top:-1339px;}
        30.2% {margin-top:-1385px;}
        31% {margin-top:-1385px;}
        31.2% {margin-top:-1431px;}
        32% {margin-top:-1431px;}
        32.2% {margin-top:-1477px;}
        33% {margin-top:-1477px;}
        33.2% {margin-top:-1523px;}
        34% {margin-top:-1523px;}
        34.2% {margin-top:-1569px;}
        35% {margin-top:-1569px;}
        35.2% {margin-top:-1615px;}
        36% {margin-top:-1615px;}
        36.2% {margin-top:-1661px;}
        37% {margin-top:-1661px;}
        37.2% {margin-top:-1707px;}
        38% {margin-top:-1707px;}
        38.2% {margin-top:-1753px;}
        39% {margin-top:-1753px;}
        39.2% {margin-top:-1799px;}
        40% {margin-top:-1799px;}
        40.2% {margin-top:-1845px;}
        41% {margin-top:-1845px;}
        41.2% {margin-top:-1891px;}
        42% {margin-top:-1891px;}
        42.2% {margin-top:-1937px;}
        43% {margin-top:-1937px;}
        43.2% {margin-top:-1983px;}
        44% {margin-top:-1983px;}
        44.2% {margin-top:-2029px;}
        45% {margin-top:-2029px;}
        45.2% {margin-top:-2075px;}
        46% {margin-top:-2075px;}
        46.2% {margin-top:-2121px;}
        47% {margin-top:-2121px;}
        47.2% {margin-top:-2167px;}
        48% {margin-top:-2167px;}
        48.2% {margin-top:-2213px;}
        49% {margin-top:-2213px;}
        49.2% {margin-top:-2259px;}
        50% {margin-top:-2259px;}
        50.2% {margin-top:-2305px;}
        51% {margin-top:-2305px;}
        51.2% {margin-top:-2351px;}
        52% {margin-top:-2351px;}
        52.2% {margin-top:-2397px;}
        53% {margin-top:-2397px;}
        53.2% {margin-top:-2443px;}
        54% {margin-top:-2443px;}
        54.2% {margin-top:-2489px;}
        55% {margin-top:-2489px;}
        55.2% {margin-top:-2535px;}
        56% {margin-top:-2535px;}
        56.2% {margin-top:-2581px;}
        57% {margin-top:-2581px;}
        57.2% {margin-top:-2627px;}
        58% {margin-top:-2627px;}
        58.2% {margin-top:-2673px;}
        59% {margin-top:-2673px;}
        59.2% {margin-top:-2719px;}
        60% {margin-top:-2719px;}
        60.2% {margin-top:-2765px;}
        61% {margin-top:-2765px;}
        61.2% {margin-top:-2811px;}
        62% {margin-top:-2811px;}
        62.2% {margin-top:-2857px;}
        63% {margin-top:-2857px;}
        63.2% {margin-top:-2903px;}
        64% {margin-top:-2903px;}
        64.2% {margin-top:-2949px;}
        65% {margin-top:-2949px;}
        65.2% {margin-top:-2995px;}
        66% {margin-top:-2995px;}
        66.2% {margin-top:-3041px;}
        67% {margin-top:-3041px;}
        67.2% {margin-top:-3087px;}
        68% {margin-top:-3087px;}
        68.2% {margin-top:-3133px;}
        69% {margin-top:-3133px;}
        69.2% {margin-top:-3179px;}
        70% {margin-top:-3179px;}
        70.2% {margin-top:-3225px;}
        71% {margin-top:-3225px;}
        71.2% {margin-top:-3271px;}
        72% {margin-top:-3271px;}
        72.2% {margin-top:-3317px;}
        73% {margin-top:-3317px;}
        73.2% {margin-top:-3363px;}
        74% {margin-top:-3363px;}
        74.2% {margin-top:-3409px;}
        75% {margin-top:-3409px;}
        75.2% {margin-top:-3455px;}
        76% {margin-top:-3455px;}
        76.2% {margin-top:-3501px;}
        77% {margin-top:-3501px;}
        77.2% {margin-top:-3547px;}
        78% {margin-top:-3547px;}
        78.2% {margin-top:-3593px;}
        79% {margin-top:-3593px;}
        79.2% {margin-top:-3639px;}
        80% {margin-top:-3639px;}
        80.2% {margin-top:-3685px;}
        81% {margin-top:-3685px;}
        81.2% {margin-top:-3713px;}
        82% {margin-top:-3713px;}
        82.2% {margin-top:-3777px;}
        83% {margin-top:-3777px;}
        83.2% {margin-top:-3823px;}
        84% {margin-top:-3823px;}
        84.2% {margin-top:-3869px;}
        85% {margin-top:-3869px;}
        85.2% {margin-top:-3915px;}
        86% {margin-top:-3915px;}
        86.2% {margin-top:-3961px;}
        87% {margin-top:-3961px;}
        87.2% {margin-top:-4007px;}
        88% {margin-top:-4007px;}
        88.2% {margin-top:-4053px;}
        89% {margin-top:-4053px;}
        89.2% {margin-top:-4099px;}
        90% {margin-top:-4099px;}
        90.2% {margin-top:-4145px;}
        91% {margin-top:-4145px;}
        91.2% {margin-top:-4191px;}
        92% {margin-top:-4191px;}
        92.2% {margin-top:-4237px;}
        93% {margin-top:-4237px;}
        93.2% {margin-top:-4283px;}
        94% {margin-top:-4283px;}
        94.2% {margin-top:-4329px;}
        95% {margin-top:-4329px;}
        95.2% {margin-top:-4375px;}
        96% {margin-top:-4375px;}
        96.2% {margin-top:-4421px;}
        97% {margin-top:-4421px;}
        97.2% {margin-top:-4467px;}
        98% {margin-top:-4467px;}
        98.2% {margin-top:-4513px;}
        99% {margin-top:-4513px;}
        99.99% {margin-top:-4559px;}
        100% {margin-top: 40px}
      }
    }


    @media only screen
    and (min-width : 768px)
    and (max-width : 1080px)
    and (orientation : landscape) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-51px;}
        2% {margin-top:-51px;}
        2.2% {margin-top:-97px;}
        3% {margin-top:-97px;}
        3.2% {margin-top:-143px;}
        4% {margin-top: -143px;}
        4.2% {margin-top:-189px;}
        5% {margin-top:-189px;}
        5.2% {margin-top:-235px;}
        6% {margin-top:-235px;}
        6.2% {margin-top:-281px;}
        7% {margin-top:-281px;}
        7.2% {margin-top:-327px;}
        8% {margin-top:-327px;}
        8.2% {margin-top:-373px;}
        9% {margin-top:-373px;}
        9.2% {margin-top:-419px;}
        10% {margin-top:-419px;}
        10.2% {margin-top:-465px;}
        11% {margin-top:-465px;}
        11.2% {margin-top:-511px;}
        12% {margin-top:-511px;}
        12.2% {margin-top:-557px;}
        13% {margin-top:-557px;}
        13.2% {margin-top:-603px;}
        14% {margin-top:-603px;}
        14.2% {margin-top:-649px;}
        15% {margin-top:-649px;}
        15.2% {margin-top:-695px;}
        16% {margin-top:-695px;}
        16.2% {margin-top:-741px;}
        17% {margin-top:-741px;}
        17.2% {margin-top:-787px;}
        18% {margin-top:-787px;}
        18.2% {margin-top:-833px;}
        19% {margin-top:-833px;}
        19.2% {margin-top:-879px;}
        20% {margin-top:-879px;}
        20.2% {margin-top:-925px;}
        21% {margin-top:-925px;}
        21.2% {margin-top:-971px;}
        22% {margin-top:-971px;}
        22.2% {margin-top:-1017px;}
        23% {margin-top:-1017px;}
        23.2% {margin-top:-1063px;}
        24% {margin-top:-1063px;}
        24.2% {margin-top:-1109px;}
        25% {margin-top:-1109px;}
        25.2% {margin-top:-1155px;}
        26% {margin-top:-1155px;}
        26.2% {margin-top:-1201px;}
        27% {margin-top:-1201px;}
        27.2% {margin-top:-1247px;}
        28% {margin-top:-1247px;}
        28.2% {margin-top:-1293px;}
        29% {margin-top:-1293px;}
        29.2% {margin-top:-1339px;}
        30% {margin-top:-1339px;}
        30.2% {margin-top:-1385px;}
        31% {margin-top:-1385px;}
        31.2% {margin-top:-1431px;}
        32% {margin-top:-1431px;}
        32.2% {margin-top:-1477px;}
        33% {margin-top:-1477px;}
        33.2% {margin-top:-1523px;}
        34% {margin-top:-1523px;}
        34.2% {margin-top:-1569px;}
        35% {margin-top:-1569px;}
        35.2% {margin-top:-1615px;}
        36% {margin-top:-1615px;}
        36.2% {margin-top:-1661px;}
        37% {margin-top:-1661px;}
        37.2% {margin-top:-1707px;}
        38% {margin-top:-1707px;}
        38.2% {margin-top:-1753px;}
        39% {margin-top:-1753px;}
        39.2% {margin-top:-1799px;}
        40% {margin-top:-1799px;}
        40.2% {margin-top:-1845px;}
        41% {margin-top:-1845px;}
        41.2% {margin-top:-1891px;}
        42% {margin-top:-1891px;}
        42.2% {margin-top:-1937px;}
        43% {margin-top:-1937px;}
        43.2% {margin-top:-1983px;}
        44% {margin-top:-1983px;}
        44.2% {margin-top:-2029px;}
        45% {margin-top:-2029px;}
        45.2% {margin-top:-2075px;}
        46% {margin-top:-2075px;}
        46.2% {margin-top:-2121px;}
        47% {margin-top:-2121px;}
        47.2% {margin-top:-2167px;}
        48% {margin-top:-2167px;}
        48.2% {margin-top:-2213px;}
        49% {margin-top:-2213px;}
        49.2% {margin-top:-2259px;}
        50% {margin-top:-2259px;}
        50.2% {margin-top:-2305px;}
        51% {margin-top:-2305px;}
        51.2% {margin-top:-2351px;}
        52% {margin-top:-2351px;}
        52.2% {margin-top:-2397px;}
        53% {margin-top:-2397px;}
        53.2% {margin-top:-2443px;}
        54% {margin-top:-2443px;}
        54.2% {margin-top:-2489px;}
        55% {margin-top:-2489px;}
        55.2% {margin-top:-2535px;}
        56% {margin-top:-2535px;}
        56.2% {margin-top:-2581px;}
        57% {margin-top:-2581px;}
        57.2% {margin-top:-2627px;}
        58% {margin-top:-2627px;}
        58.2% {margin-top:-2673px;}
        59% {margin-top:-2673px;}
        59.2% {margin-top:-2719px;}
        60% {margin-top:-2719px;}
        60.2% {margin-top:-2765px;}
        61% {margin-top:-2765px;}
        61.2% {margin-top:-2811px;}
        62% {margin-top:-2811px;}
        62.2% {margin-top:-2857px;}
        63% {margin-top:-2857px;}
        63.2% {margin-top:-2903px;}
        64% {margin-top:-2903px;}
        64.2% {margin-top:-2949px;}
        65% {margin-top:-2949px;}
        65.2% {margin-top:-2995px;}
        66% {margin-top:-2995px;}
        66.2% {margin-top:-3041px;}
        67% {margin-top:-3041px;}
        67.2% {margin-top:-3087px;}
        68% {margin-top:-3087px;}
        68.2% {margin-top:-3133px;}
        69% {margin-top:-3133px;}
        69.2% {margin-top:-3179px;}
        70% {margin-top:-3179px;}
        70.2% {margin-top:-3225px;}
        71% {margin-top:-3225px;}
        71.2% {margin-top:-3271px;}
        72% {margin-top:-3271px;}
        72.2% {margin-top:-3317px;}
        73% {margin-top:-3317px;}
        73.2% {margin-top:-3363px;}
        74% {margin-top:-3363px;}
        74.2% {margin-top:-3409px;}
        75% {margin-top:-3409px;}
        75.2% {margin-top:-3455px;}
        76% {margin-top:-3455px;}
        76.2% {margin-top:-3501px;}
        77% {margin-top:-3501px;}
        77.2% {margin-top:-3547px;}
        78% {margin-top:-3547px;}
        78.2% {margin-top:-3593px;}
        79% {margin-top:-3593px;}
        79.2% {margin-top:-3639px;}
        80% {margin-top:-3639px;}
        80.2% {margin-top:-3685px;}
        81% {margin-top:-3685px;}
        81.2% {margin-top:-3713px;}
        82% {margin-top:-3713px;}
        82.2% {margin-top:-3777px;}
        83% {margin-top:-3777px;}
        83.2% {margin-top:-3823px;}
        84% {margin-top:-3823px;}
        84.2% {margin-top:-3869px;}
        85% {margin-top:-3869px;}
        85.2% {margin-top:-3915px;}
        86% {margin-top:-3915px;}
        86.2% {margin-top:-3961px;}
        87% {margin-top:-3961px;}
        87.2% {margin-top:-4007px;}
        88% {margin-top:-4007px;}
        88.2% {margin-top:-4053px;}
        89% {margin-top:-4053px;}
        89.2% {margin-top:-4099px;}
        90% {margin-top:-4099px;}
        90.2% {margin-top:-4145px;}
        91% {margin-top:-4145px;}
        91.2% {margin-top:-4191px;}
        92% {margin-top:-4191px;}
        92.2% {margin-top:-4237px;}
        93% {margin-top:-4237px;}
        93.2% {margin-top:-4283px;}
        94% {margin-top:-4283px;}
        94.2% {margin-top:-4329px;}
        95% {margin-top:-4329px;}
        95.2% {margin-top:-4375px;}
        96% {margin-top:-4375px;}
        96.2% {margin-top:-4421px;}
        97% {margin-top:-4421px;}
        97.2% {margin-top:-4467px;}
        98% {margin-top:-4467px;}
        98.2% {margin-top:-4513px;}
        99% {margin-top:-4513px;}
        99.99% {margin-top:-4559px;}
        100% {margin-top: 40px}
      }
    }

    @media only screen
    and (device-width : 810px)
    and (orientation : portrait) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-51px;}
        2% {margin-top:-51px;}
        2.2% {margin-top:-97px;}
        3% {margin-top:-97px;}
        3.2% {margin-top:-143px;}
        4% {margin-top: -143px;}
        4.2% {margin-top:-189px;}
        5% {margin-top:-189px;}
        5.2% {margin-top:-235px;}
        6% {margin-top:-235px;}
        6.2% {margin-top:-281px;}
        7% {margin-top:-281px;}
        7.2% {margin-top:-327px;}
        8% {margin-top:-327px;}
        8.2% {margin-top:-373px;}
        9% {margin-top:-373px;}
        9.2% {margin-top:-419px;}
        10% {margin-top:-419px;}
        10.2% {margin-top:-465px;}
        11% {margin-top:-465px;}
        11.2% {margin-top:-511px;}
        12% {margin-top:-511px;}
        12.2% {margin-top:-557px;}
        13% {margin-top:-557px;}
        13.2% {margin-top:-603px;}
        14% {margin-top:-603px;}
        14.2% {margin-top:-649px;}
        15% {margin-top:-649px;}
        15.2% {margin-top:-695px;}
        16% {margin-top:-695px;}
        16.2% {margin-top:-741px;}
        17% {margin-top:-741px;}
        17.2% {margin-top:-787px;}
        18% {margin-top:-787px;}
        18.2% {margin-top:-833px;}
        19% {margin-top:-833px;}
        19.2% {margin-top:-879px;}
        20% {margin-top:-879px;}
        20.2% {margin-top:-925px;}
        21% {margin-top:-925px;}
        21.2% {margin-top:-971px;}
        22% {margin-top:-971px;}
        22.2% {margin-top:-1017px;}
        23% {margin-top:-1017px;}
        23.2% {margin-top:-1063px;}
        24% {margin-top:-1063px;}
        24.2% {margin-top:-1109px;}
        25% {margin-top:-1109px;}
        25.2% {margin-top:-1155px;}
        26% {margin-top:-1155px;}
        26.2% {margin-top:-1201px;}
        27% {margin-top:-1201px;}
        27.2% {margin-top:-1247px;}
        28% {margin-top:-1247px;}
        28.2% {margin-top:-1293px;}
        29% {margin-top:-1293px;}
        29.2% {margin-top:-1339px;}
        30% {margin-top:-1339px;}
        30.2% {margin-top:-1385px;}
        31% {margin-top:-1385px;}
        31.2% {margin-top:-1431px;}
        32% {margin-top:-1431px;}
        32.2% {margin-top:-1477px;}
        33% {margin-top:-1477px;}
        33.2% {margin-top:-1523px;}
        34% {margin-top:-1523px;}
        34.2% {margin-top:-1569px;}
        35% {margin-top:-1569px;}
        35.2% {margin-top:-1615px;}
        36% {margin-top:-1615px;}
        36.2% {margin-top:-1661px;}
        37% {margin-top:-1661px;}
        37.2% {margin-top:-1707px;}
        38% {margin-top:-1707px;}
        38.2% {margin-top:-1753px;}
        39% {margin-top:-1753px;}
        39.2% {margin-top:-1799px;}
        40% {margin-top:-1799px;}
        40.2% {margin-top:-1845px;}
        41% {margin-top:-1845px;}
        41.2% {margin-top:-1891px;}
        42% {margin-top:-1891px;}
        42.2% {margin-top:-1937px;}
        43% {margin-top:-1937px;}
        43.2% {margin-top:-1983px;}
        44% {margin-top:-1983px;}
        44.2% {margin-top:-2029px;}
        45% {margin-top:-2029px;}
        45.2% {margin-top:-2075px;}
        46% {margin-top:-2075px;}
        46.2% {margin-top:-2121px;}
        47% {margin-top:-2121px;}
        47.2% {margin-top:-2167px;}
        48% {margin-top:-2167px;}
        48.2% {margin-top:-2213px;}
        49% {margin-top:-2213px;}
        49.2% {margin-top:-2259px;}
        50% {margin-top:-2259px;}
        50.2% {margin-top:-2305px;}
        51% {margin-top:-2305px;}
        51.2% {margin-top:-2351px;}
        52% {margin-top:-2351px;}
        52.2% {margin-top:-2397px;}
        53% {margin-top:-2397px;}
        53.2% {margin-top:-2443px;}
        54% {margin-top:-2443px;}
        54.2% {margin-top:-2489px;}
        55% {margin-top:-2489px;}
        55.2% {margin-top:-2535px;}
        56% {margin-top:-2535px;}
        56.2% {margin-top:-2581px;}
        57% {margin-top:-2581px;}
        57.2% {margin-top:-2627px;}
        58% {margin-top:-2627px;}
        58.2% {margin-top:-2673px;}
        59% {margin-top:-2673px;}
        59.2% {margin-top:-2719px;}
        60% {margin-top:-2719px;}
        60.2% {margin-top:-2765px;}
        61% {margin-top:-2765px;}
        61.2% {margin-top:-2811px;}
        62% {margin-top:-2811px;}
        62.2% {margin-top:-2857px;}
        63% {margin-top:-2857px;}
        63.2% {margin-top:-2903px;}
        64% {margin-top:-2903px;}
        64.2% {margin-top:-2949px;}
        65% {margin-top:-2949px;}
        65.2% {margin-top:-2995px;}
        66% {margin-top:-2995px;}
        66.2% {margin-top:-3041px;}
        67% {margin-top:-3041px;}
        67.2% {margin-top:-3087px;}
        68% {margin-top:-3087px;}
        68.2% {margin-top:-3133px;}
        69% {margin-top:-3133px;}
        69.2% {margin-top:-3179px;}
        70% {margin-top:-3179px;}
        70.2% {margin-top:-3225px;}
        71% {margin-top:-3225px;}
        71.2% {margin-top:-3271px;}
        72% {margin-top:-3271px;}
        72.2% {margin-top:-3317px;}
        73% {margin-top:-3317px;}
        73.2% {margin-top:-3363px;}
        74% {margin-top:-3363px;}
        74.2% {margin-top:-3409px;}
        75% {margin-top:-3409px;}
        75.2% {margin-top:-3455px;}
        76% {margin-top:-3455px;}
        76.2% {margin-top:-3501px;}
        77% {margin-top:-3501px;}
        77.2% {margin-top:-3547px;}
        78% {margin-top:-3547px;}
        78.2% {margin-top:-3593px;}
        79% {margin-top:-3593px;}
        79.2% {margin-top:-3639px;}
        80% {margin-top:-3639px;}
        80.2% {margin-top:-3685px;}
        81% {margin-top:-3685px;}
        81.2% {margin-top:-3713px;}
        82% {margin-top:-3713px;}
        82.2% {margin-top:-3777px;}
        83% {margin-top:-3777px;}
        83.2% {margin-top:-3823px;}
        84% {margin-top:-3823px;}
        84.2% {margin-top:-3869px;}
        85% {margin-top:-3869px;}
        85.2% {margin-top:-3915px;}
        86% {margin-top:-3915px;}
        86.2% {margin-top:-3961px;}
        87% {margin-top:-3961px;}
        87.2% {margin-top:-4007px;}
        88% {margin-top:-4007px;}
        88.2% {margin-top:-4053px;}
        89% {margin-top:-4053px;}
        89.2% {margin-top:-4099px;}
        90% {margin-top:-4099px;}
        90.2% {margin-top:-4145px;}
        91% {margin-top:-4145px;}
        91.2% {margin-top:-4191px;}
        92% {margin-top:-4191px;}
        92.2% {margin-top:-4237px;}
        93% {margin-top:-4237px;}
        93.2% {margin-top:-4283px;}
        94% {margin-top:-4283px;}
        94.2% {margin-top:-4329px;}
        95% {margin-top:-4329px;}
        95.2% {margin-top:-4375px;}
        96% {margin-top:-4375px;}
        96.2% {margin-top:-4421px;}
        97% {margin-top:-4421px;}
        97.2% {margin-top:-4467px;}
        98% {margin-top:-4467px;}
        98.2% {margin-top:-4513px;}
        99% {margin-top:-4513px;}
        99.99% {margin-top:-4559px;}
        100% {margin-top: 40px}
      }
    }

    @media only screen
    and (device-width : 1024px)
    and (device-height : 1366px) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-51px;}
        2% {margin-top:-51px;}
        2.2% {margin-top:-97px;}
        3% {margin-top:-97px;}
        3.2% {margin-top:-143px;}
        4% {margin-top: -143px;}
        4.2% {margin-top:-189px;}
        5% {margin-top:-189px;}
        5.2% {margin-top:-235px;}
        6% {margin-top:-235px;}
        6.2% {margin-top:-281px;}
        7% {margin-top:-281px;}
        7.2% {margin-top:-327px;}
        8% {margin-top:-327px;}
        8.2% {margin-top:-373px;}
        9% {margin-top:-373px;}
        9.2% {margin-top:-419px;}
        10% {margin-top:-419px;}
        10.2% {margin-top:-465px;}
        11% {margin-top:-465px;}
        11.2% {margin-top:-511px;}
        12% {margin-top:-511px;}
        12.2% {margin-top:-557px;}
        13% {margin-top:-557px;}
        13.2% {margin-top:-603px;}
        14% {margin-top:-603px;}
        14.2% {margin-top:-649px;}
        15% {margin-top:-649px;}
        15.2% {margin-top:-695px;}
        16% {margin-top:-695px;}
        16.2% {margin-top:-741px;}
        17% {margin-top:-741px;}
        17.2% {margin-top:-787px;}
        18% {margin-top:-787px;}
        18.2% {margin-top:-833px;}
        19% {margin-top:-833px;}
        19.2% {margin-top:-879px;}
        20% {margin-top:-879px;}
        20.2% {margin-top:-925px;}
        21% {margin-top:-925px;}
        21.2% {margin-top:-971px;}
        22% {margin-top:-971px;}
        22.2% {margin-top:-1017px;}
        23% {margin-top:-1017px;}
        23.2% {margin-top:-1063px;}
        24% {margin-top:-1063px;}
        24.2% {margin-top:-1109px;}
        25% {margin-top:-1109px;}
        25.2% {margin-top:-1155px;}
        26% {margin-top:-1155px;}
        26.2% {margin-top:-1201px;}
        27% {margin-top:-1201px;}
        27.2% {margin-top:-1247px;}
        28% {margin-top:-1247px;}
        28.2% {margin-top:-1293px;}
        29% {margin-top:-1293px;}
        29.2% {margin-top:-1339px;}
        30% {margin-top:-1339px;}
        30.2% {margin-top:-1385px;}
        31% {margin-top:-1385px;}
        31.2% {margin-top:-1431px;}
        32% {margin-top:-1431px;}
        32.2% {margin-top:-1477px;}
        33% {margin-top:-1477px;}
        33.2% {margin-top:-1523px;}
        34% {margin-top:-1523px;}
        34.2% {margin-top:-1569px;}
        35% {margin-top:-1569px;}
        35.2% {margin-top:-1615px;}
        36% {margin-top:-1615px;}
        36.2% {margin-top:-1661px;}
        37% {margin-top:-1661px;}
        37.2% {margin-top:-1707px;}
        38% {margin-top:-1707px;}
        38.2% {margin-top:-1753px;}
        39% {margin-top:-1753px;}
        39.2% {margin-top:-1799px;}
        40% {margin-top:-1799px;}
        40.2% {margin-top:-1845px;}
        41% {margin-top:-1845px;}
        41.2% {margin-top:-1891px;}
        42% {margin-top:-1891px;}
        42.2% {margin-top:-1937px;}
        43% {margin-top:-1937px;}
        43.2% {margin-top:-1983px;}
        44% {margin-top:-1983px;}
        44.2% {margin-top:-2029px;}
        45% {margin-top:-2029px;}
        45.2% {margin-top:-2075px;}
        46% {margin-top:-2075px;}
        46.2% {margin-top:-2121px;}
        47% {margin-top:-2121px;}
        47.2% {margin-top:-2167px;}
        48% {margin-top:-2167px;}
        48.2% {margin-top:-2213px;}
        49% {margin-top:-2213px;}
        49.2% {margin-top:-2259px;}
        50% {margin-top:-2259px;}
        50.2% {margin-top:-2305px;}
        51% {margin-top:-2305px;}
        51.2% {margin-top:-2351px;}
        52% {margin-top:-2351px;}
        52.2% {margin-top:-2397px;}
        53% {margin-top:-2397px;}
        53.2% {margin-top:-2443px;}
        54% {margin-top:-2443px;}
        54.2% {margin-top:-2489px;}
        55% {margin-top:-2489px;}
        55.2% {margin-top:-2535px;}
        56% {margin-top:-2535px;}
        56.2% {margin-top:-2581px;}
        57% {margin-top:-2581px;}
        57.2% {margin-top:-2627px;}
        58% {margin-top:-2627px;}
        58.2% {margin-top:-2673px;}
        59% {margin-top:-2673px;}
        59.2% {margin-top:-2719px;}
        60% {margin-top:-2719px;}
        60.2% {margin-top:-2765px;}
        61% {margin-top:-2765px;}
        61.2% {margin-top:-2811px;}
        62% {margin-top:-2811px;}
        62.2% {margin-top:-2857px;}
        63% {margin-top:-2857px;}
        63.2% {margin-top:-2903px;}
        64% {margin-top:-2903px;}
        64.2% {margin-top:-2949px;}
        65% {margin-top:-2949px;}
        65.2% {margin-top:-2995px;}
        66% {margin-top:-2995px;}
        66.2% {margin-top:-3041px;}
        67% {margin-top:-3041px;}
        67.2% {margin-top:-3087px;}
        68% {margin-top:-3087px;}
        68.2% {margin-top:-3133px;}
        69% {margin-top:-3133px;}
        69.2% {margin-top:-3179px;}
        70% {margin-top:-3179px;}
        70.2% {margin-top:-3225px;}
        71% {margin-top:-3225px;}
        71.2% {margin-top:-3271px;}
        72% {margin-top:-3271px;}
        72.2% {margin-top:-3317px;}
        73% {margin-top:-3317px;}
        73.2% {margin-top:-3363px;}
        74% {margin-top:-3363px;}
        74.2% {margin-top:-3409px;}
        75% {margin-top:-3409px;}
        75.2% {margin-top:-3455px;}
        76% {margin-top:-3455px;}
        76.2% {margin-top:-3501px;}
        77% {margin-top:-3501px;}
        77.2% {margin-top:-3547px;}
        78% {margin-top:-3547px;}
        78.2% {margin-top:-3593px;}
        79% {margin-top:-3593px;}
        79.2% {margin-top:-3639px;}
        80% {margin-top:-3639px;}
        80.2% {margin-top:-3685px;}
        81% {margin-top:-3685px;}
        81.2% {margin-top:-3713px;}
        82% {margin-top:-3713px;}
        82.2% {margin-top:-3777px;}
        83% {margin-top:-3777px;}
        83.2% {margin-top:-3823px;}
        84% {margin-top:-3823px;}
        84.2% {margin-top:-3869px;}
        85% {margin-top:-3869px;}
        85.2% {margin-top:-3915px;}
        86% {margin-top:-3915px;}
        86.2% {margin-top:-3961px;}
        87% {margin-top:-3961px;}
        87.2% {margin-top:-4007px;}
        88% {margin-top:-4007px;}
        88.2% {margin-top:-4053px;}
        89% {margin-top:-4053px;}
        89.2% {margin-top:-4099px;}
        90% {margin-top:-4099px;}
        90.2% {margin-top:-4145px;}
        91% {margin-top:-4145px;}
        91.2% {margin-top:-4191px;}
        92% {margin-top:-4191px;}
        92.2% {margin-top:-4237px;}
        93% {margin-top:-4237px;}
        93.2% {margin-top:-4283px;}
        94% {margin-top:-4283px;}
        94.2% {margin-top:-4329px;}
        95% {margin-top:-4329px;}
        95.2% {margin-top:-4375px;}
        96% {margin-top:-4375px;}
        96.2% {margin-top:-4421px;}
        97% {margin-top:-4421px;}
        97.2% {margin-top:-4467px;}
        98% {margin-top:-4467px;}
        98.2% {margin-top:-4513px;}
        99% {margin-top:-4513px;}
        99.99% {margin-top:-4559px;}
        100% {margin-top: 40px}
      }
    }

    @include multiple-media(largeScreen) {
      @keyframes show {
        0% {margin-top:90px;}
        0.2% {margin-top: -5px;}
        1% {margin-top:-5px;}
        1.2% {margin-top:-53px;}
        2% {margin-top:-53px;}
        2.2% {margin-top:-101px;}
        3% {margin-top:-101px;}
        3.2% {margin-top:-149px;}
        4% {margin-top: -149px;}
        4.2% {margin-top:-197px;}
        5% {margin-top:-197px;}
        5.2% {margin-top:-245px;}
        6% {margin-top:-245px;}
        6.2% {margin-top:-293px;}
        7% {margin-top:-293px;}
        7.2% {margin-top:-341px;}
        8% {margin-top:-341px;}
        8.2% {margin-top:-389px;}
        9% {margin-top:-389px;}
        9.2% {margin-top:-437px;}
        10% {margin-top:-437px;}
        10.2% {margin-top:-485px;}
        11% {margin-top:-485px;}
        11.2% {margin-top:-533px;}
        12% {margin-top:-533px;}
        12.2% {margin-top:-581px;}
        13% {margin-top:-581px;}
        13.2% {margin-top:-629px;}
        14% {margin-top:-629px;}
        14.2% {margin-top:-677px;}
        15% {margin-top:-677px;}
        15.2% {margin-top:-725px;}
        16% {margin-top:-725px;}
        16.2% {margin-top:-773px;}
        17% {margin-top:-773px;}
        17.2% {margin-top:-821px;}
        18% {margin-top:-821px;}
        18.2% {margin-top:-869px;}
        19% {margin-top:-869px;}
        19.2% {margin-top:-917px;}
        20% {margin-top:-917px;}
        20.2% {margin-top:-965px;}
        21% {margin-top:-965px;}
        21.2% {margin-top:-1013px;}
        22% {margin-top:-1013px;}
        22.2% {margin-top:-1061px;}
        23% {margin-top:-1061px;}
        23.2% {margin-top:-1109px;}
        24% {margin-top:-1109px;}
        24.2% {margin-top:-1157px;}
        25% {margin-top:-1157px;}
        25.2% {margin-top:-1205px;}
        26% {margin-top:-1205px;}
        26.2% {margin-top:-1253px;}
        27% {margin-top:-1253px;}
        27.2% {margin-top:-1301px;}
        28% {margin-top:-1301px;}
        28.2% {margin-top:-1349px;}
        29% {margin-top:-1349px;}
        29.2% {margin-top:-1397px;}
        30% {margin-top:-1397px;}
        30.2% {margin-top:-1445px;}
        31% {margin-top:-1445px;}
        31.2% {margin-top:-1493px;}
        32% {margin-top:-1493px;}
        32.2% {margin-top:-1541px;}
        33% {margin-top:-1541px;}
        33.2% {margin-top:-1589px;}
        34% {margin-top:-1589px;}
        34.2% {margin-top:-1637px;}
        35% {margin-top:-1637px;}
        35.2% {margin-top:-1685px;}
        36% {margin-top:-1685px;}
        36.2% {margin-top:-1733px;}
        37% {margin-top:-1733px;}
        37.2% {margin-top:-1781px;}
        38% {margin-top:-1781px;}
        38.2% {margin-top:-1829px;}
        39% {margin-top:-1829px;}
        39.2% {margin-top:-1877px;}
        40% {margin-top:-1877px;}
        40.2% {margin-top:-1925px;}
        41% {margin-top:-1925px;}
        41.2% {margin-top:-1973px;}
        42% {margin-top:-1973px;}
        42.2% {margin-top:-2021px;}
        43% {margin-top:-2021px;}
        43.2% {margin-top:-2069px;}
        44% {margin-top:-2069px;}
        44.2% {margin-top:-2117px;}
        45% {margin-top:-2117px;}
        45.2% {margin-top:-2165px;}
        46% {margin-top:-2165px;}
        46.2% {margin-top:-2213px;}
        47% {margin-top:-2213px;}
        47.2% {margin-top:-2261px;}
        48% {margin-top:-2261px;}
        48.2% {margin-top:-2309px;}
        49% {margin-top:-2309px;}
        49.2% {margin-top:-2357px;}
        50% {margin-top:-2357px;}
        50.2% {margin-top:-2405px;}
        51% {margin-top:-2405px;}
        51.2% {margin-top:-2453px;}
        52% {margin-top:-2453px;}
        52.2% {margin-top:-2501px;}
        53% {margin-top:-2501px;}
        53.2% {margin-top:-2549px;}
        54% {margin-top:-2549px;}
        54.2% {margin-top:-2597px;}
        55% {margin-top:-2597px;}
        55.2% {margin-top:-2645px;}
        56% {margin-top:-2645px;}
        56.2% {margin-top:-2693px;}
        57% {margin-top:-2693px;}
        57.2% {margin-top:-2741px;}
        58% {margin-top:-2741px;}
        58.2% {margin-top:-2789px;}
        59% {margin-top:-2789px;}
        59.2% {margin-top:-2837px;}
        60% {margin-top:-2837px;}
        60.2% {margin-top:-2885px;}
        61% {margin-top:-2885px;}
        61.2% {margin-top:-2933px;}
        62% {margin-top:-2933px;}
        62.2% {margin-top:-2981px;}
        63% {margin-top:-2981px;}
        63.2% {margin-top:-3029px;}
        64% {margin-top:-3029px;}
        64.2% {margin-top:-3077px;}
        65% {margin-top:-3077px;}
        65.2% {margin-top:-3125px;}
        66% {margin-top:-3125px;}
        66.2% {margin-top:-3173px;}
        67% {margin-top:-3173px;}
        67.2% {margin-top:-3221px;}
        68% {margin-top:-3221px;}
        68.2% {margin-top:-3269px;}
        69% {margin-top:-3269px;}
        69.2% {margin-top:-3317px;}
        70% {margin-top:-3317px;}
        70.2% {margin-top:-3365px;}
        71% {margin-top:-3365px;}
        71.2% {margin-top:-3413px;}
        72% {margin-top:-3413px;}
        72.2% {margin-top:-3461px;}
        73% {margin-top:-3461px;}
        73.2% {margin-top:-3509px;}
        74% {margin-top:-3509px;}
        74.2% {margin-top:-3557px;}
        75% {margin-top:-3557px;}
        75.2% {margin-top:-3605px;}
        76% {margin-top:-3605px;}
        76.2% {margin-top:-3653px;}
        77% {margin-top:-3653px;}
        77.2% {margin-top:-3701px;}
        78% {margin-top:-3701px;}
        78.2% {margin-top:-3749px;}
        79% {margin-top:-3749px;}
        79.2% {margin-top:-3797px;}
        80% {margin-top:-3797px;}
        80.2% {margin-top:-3845px;}
        81% {margin-top:-3845px;}
        81.2% {margin-top:-3893px;}
        82% {margin-top:-3893px;}
        82.2% {margin-top:-3941px;}
        83% {margin-top:-3941px;}
        83.2% {margin-top:-3989px;}
        84% {margin-top:-3989px;}
        84.2% {margin-top:-4037px;}
        85% {margin-top:-4037px;}
        85.2% {margin-top:-4085px;}
        86% {margin-top:-4085px;}
        86.2% {margin-top:-4133px;}
        87% {margin-top:-4133px;}
        87.2% {margin-top:-4181px;}
        88% {margin-top:-4181px;}
        88.2% {margin-top:-4229px;}
        89% {margin-top:-4229px;}
        89.2% {margin-top:-4277px;}
        90% {margin-top:-4277px;}
        90.2% {margin-top:-4325px;}
        91% {margin-top:-4325px;}
        91.2% {margin-top:-4373px;}
        92% {margin-top:-4373px;}
        92.2% {margin-top:-4421px;}
        93% {margin-top:-4421px;}
        93.2% {margin-top:-4469px;}
        94% {margin-top:-4469px;}
        94.2% {margin-top:-4517px;}
        95% {margin-top:-4517px;}
        95.2% {margin-top:-4565px;}
        96% {margin-top:-4565px;}
        96.2% {margin-top:-4613px;}
        97% {margin-top:-4613px;}
        97.2% {margin-top:-4661px;}
        98% {margin-top:-4661px;}
        98.2% {margin-top:-4709px;}
        99% {margin-top:-4709px;}
        100% {margin-top: 4757px}
      }
    }

  }

  &-footer {
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    max-height: 15rem;

    @media only screen
    and (min-width : 375px)
    and (max-width : 812px)
    and (orientation : landscape) { display: none}

    @media only screen
    and (min-width : 768px)
    and (max-width : 1023px)
    and (orientation : landscape) { display : none}


    #circle {
      position: relative;
      width: 11rem;
      height: 11rem;
      overflow: hidden;
    }

    #circle text {
      font-size: .9rem;
      font-weight: 100;

      @include multiple-media(tabletScreen, smallScreen, mediumScreen) {
        font-size: 11px;
      }


      @include multiple-media(largeScreen) {
        font-size: .75rem;
      }
    }

    #circle svg {
      margin: 0 auto;
      display: block;
      height: 100%;
      width: 100%;
      font-weight: 100;
      text-transform: uppercase;

      -webkit-animation-name: rotate;
      -moz-animation-name: rotate;
      -ms-animation-name: rotate;
      -o-animation-name: rotate;
      animation-name: rotate;
      -webkit-animation-duration: 10s;
      -moz-animation-duration: 10s;
      -ms-animation-duration: 10s;
      -o-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear;

    }

    @-webkit-keyframes rotate {
      from { -webkit-transform: rotate(360deg); }
      to { -webkit-transform: rotate(0); }
    }
    @-moz-keyframes rotate {
      from { -moz-transform: rotate(360deg); }
      to { -moz-transform: rotate(0); }
    }
    @-ms-keyframes rotate {
      from { -ms-transform: rotate(360deg); }
      to { -ms-transform: rotate(0); }
    }
    @-o-keyframes rotate {
      from { -o-transform: rotate(360deg); }
      to { -o-transform: rotate(0); }
    }
    @keyframes rotate {
      from { transform: rotate(360deg); }
      to { transform: rotate(0); }
    }

  }
}

