<template>
    <div class="form-section">
        <h1 class="title-black">Fill out the form and be the first one to know when the leasing begins</h1>
        <div class="form-section-content">

            <div class="form-wrapper">
                <form action="#" class="form">
                    <div class="form-group">
                        <div class="form-field">
                            <input
                                type="text"
                                placeholder="*first name"
                                v-model="userData.firstName">
                        </div>
                        <div class="form-field">
                            <input
                                type="text"
                                placeholder="*last name"
                                v-model="userData.lastName">
                        </div>
                        <div class="form-field">
                            <div class="form-field-group">
                                <span>Are you a broker? </span>
                                <span> y</span>
                                <label class="container">
                                    <input type="radio" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <span> n</span>
                                <label class="container">
                                    <input type="radio" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-field">
                            <input
                                type="email"
                                placeholder="*Email"
                                :value="userData.email"
                                @input="userData.email = $event.target.value">
                        </div>
                        <div class="form-field">
                            <input
                                type="text"
                                placeholder="*Phone"
                                v-model="userData.phone">
                        </div>
                        <div class="form-field">
                            <input
                                    type="text"
                                    placeholder="IF SO, WHICH BROKERAGE?"
                                    v-model="userData.whichBroker">
                        </div>
                        <div class="form-field">
                            <select class="classic">
                                <option value>United States</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                            </select>
                        </div>
                        <div class="form-field">
                            <input
                                type="text"
                                placeholder="Zip code"
                                v-model="userData.priceRange2">
                        </div>
                        <div class="form-field">
                            <select class="classic">
                                <option value>How did you hear about us?</option>
                                <option value="Live/Work in Neighborhood">Live/Work in Neighborhood</option>
                                <option value="Press">Press</option>
                                <option value="Internet Search">Internet Search</option>
                                <option value="Other (Please Specify)">Other (Please Specify)</option>
                            </select>
                        </div>

                        <div class="form-field form-field-comments">
                            <textarea
                                    name="comments"
                                    id="comments"
                                    cols="1" rows="1"
                                    placeholder="Comments"
                                    v-model="userData.comments"></textarea>
                        </div>
                        <div class="form-field">
                            <input
                                type="text"
                                placeholder="Other"
                                v-model="userData.other">
                        </div>
                    </div>

                    <div class="form-footer">
                        <div class="form-footer-info">
                            <p>
                                Sponsor: 5POINTZ LLC G & M Reality, LP 1 Executive Drive Edgewood, NY 11717 Property Location:
                                22-44 Jackson Avenue, Long Island City New York 11000 Artist renderings and images are for illustrative purposes only.
                            </p>
                            <span>
                                <img src="../assets/eho.svg" alt="home">
                                EQUAL HOUSING OPPORTUNITY
                            </span>
                            <span>We respect your privacy! <a href="http://5pointzlic.com/disclaimer.html" target="_blank">Learn more</a></span>
                        </div>
                        <button type="submit" @click.prevent="submitted">Submit</button>
                    </div>
                    <button
                       type="submit"
                       class="submit-btn"
                       @click.prevent="submitted">Submit</button>
                </form>
            </div>

            <div class="pointz-info">
                <div class="pointz-info-msg">
                    <div class="pointz-info-address">
                        <img src="../assets/logo-form.svg" alt="" class="pointz-info-address--image">
<!--                        <span class="pointz-info-address&#45;&#45;text">Leasing gallery</span>-->
                        <span class="pointz-info-address--text">22-24 Jackson avenue</span>
                        <span class="pointz-info-address--text">Long Island City</span>
                        <span class="pointz-info-address--text">New York 11101</span>
                    </div>
                    <div class="pointz-info-address">
                        <span class="pointz-info-address--text">
                          <a class="number" href="tel:+16467837286">646.783.7286</a>
                        </span>
                        <span class="pointz-info-address--text">
                          <a class="number" href="mailto:rent@5pointzlic.com">rent@5pointzlic.com</a>
                        </span>
                    </div>
                    <div class="pointz-info-open">
                        <span class="pointz-info-open--text" style="display: none">Open 7 days a week</span>
                        <span class="pointz-info-open--text">mon-fri 10:00AM-6:00PM</span>
                        <span class="pointz-info-open--text">sat-sun 10:00AM-5:00PM</span>
                    </div>
                </div>

                <div class="pointz-info-privacy">
                    <p>
                        Sponsor: 5POINTZ LLC G & M Reality, LP 1 Executive Drive Edgewood, NY 11717 Property Location:
                        22-44 Jackson Avenue, Long Island City New York 11000 Artist renderings and images are for illustrative purposes only.
                    </p>
                  <div class="mobile-housing">
                     <span >
                        <img src="../assets/eho.svg" alt="home">
                        EQUAL HOUSING OPPORTUNITY
                    </span>
                    <br class="break-line">
                    <span>We respect your privacy! <a href="http://5pointzlic.com/disclaimer.html" target="_blank">Learn more</a></span>
                  </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Form.vue",
        data: () => ({
            userData: {
                firstName: '',
                lastName: '',
                email: '',
                phone: '',
                priceRange1: '',
                residenceType1: '',
                priceRange2: '',
                residenceType2: '',
                broker: null,
                whichBroker: '',
                hearAboutUs: '',
                other: '',
                comments: ''
            },
        }),
        methods: {
            submitted() {
                // send data when submit form
            }
        },
    }
</script>

<style scoped lang="scss">

</style>
