<template>
    <div class="main-section">
        <div v-if="!device" class="main-section-head" @click.prevent="hideForm">

            <img v-if="showForm" src="../assets/logoBlack.svg" alt="logo" class="main-section--logo">
            <div  v-else class="main-section--text">
                <img src="../assets/logoBlack.svg" alt="logo" class="main-section--logo">
            </div>

            <div class="main-section-text" v-if="!showForm">
                <div class="main-section-text__info">
                    <span class="main-section-text__info--title">
                        <span class="title-black">CREATE YOUR LIFE</span>
                    </span>
                    <span class="main-section-text__info--title">
                        <span class="title-black">90,000+ SQFT AMENITY</span>
                    </span>
                    <span class="main-section-text__info--title">
                        <span class="title-black">
                            PACKAGE INCLUDING
                        </span>
                    </span>
                </div>
                <div id="flip" v-if="showRotate">
                    <template v-for="(data, index) in buildingDetails">
                      <div :key="index"><div>{{ data }}</div></div>
                    </template>
                </div>
            </div>
        </div>
        <div v-if="!device" class="main-section-footer">
            <div id="circle" v-if="!showForm">
                <svg v-if="mobileScreen" @click="openForm" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 120 120" enable-background="new 0 0 300 300" xml:space="preserve">
                    <defs>
                        <path id="circlePath" d="M 60, 60 m -34, 0 a 34,34 0 0,1 68,0 a 34,34 0 0,1 -68,0  "/>
                    </defs>
                                    <circle cx="150" cy="100" r="75" fill="none"/>
                                    <g>
                        <use xlink:href="#circlePath" fill="none"/>
                                        <text fill="#fff">
                            <textPath xlink:href="#circlePath">join the priority list join the priority list</textPath>
                        </text>
                    </g>
                </svg>
              <svg v-else-if="!mobileScreen && !bigScreen" @click="openForm" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 120 120" enable-background="new 0 0 300 300" xml:space="preserve">
                    <defs>
                        <path id="circlePath" d="M 60, 60 m -41, 0 a 41,41 0 0,1 82,0 a 41,41 0 0,1 -82,0  "/>
                    </defs>
                <circle cx="150" cy="100" r="105" fill="none"/>
                <g>
                        <use xlink:href="#circlePath" fill="none"/>
                  <text fill="#fff">
                            <textPath xlink:href="#circlePath">join the priority list join the priority list</textPath>
                        </text>
                    </g>
                </svg>
              <svg v-else @click="openForm" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 120 120" enable-background="new 0 0 300 300" xml:space="preserve">
                    <defs>
                        <path id="circlePath" d=" M 60, 60 m -39, 0 a 39,39 0 0,1 78,0 a 39,39 0 0,1 -78,0 "/>
                    </defs>
                <circle cx="150" cy="100" r="75" fill="none"/>
                <g>
                        <use xlink:href="#circlePath" fill="none"/>
                  <text fill="#fff">
                            <textPath xlink:href="#circlePath">join the priority list join the priority list</textPath>
                        </text>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Main",
        props: {
            showForm: {
                default: false,
                required: true,
            },
        },
        data: () => ({
          bigScreen: false,
          mobileScreen: false,
          device: false,
          buildingDetails: ['ATTENDED LOBBY', 'OUTDOOR TERRACES', 'SKY CLUB', 'CO-WORKING LOUNGE', 'FITNESS CENTER', 'INDOOR POOL', 'YOGA /BARRE STUDIO',
            'SUANA', 'BASKETBALL COURT', 'BOXING CLASSES', 'SPIN ROOM', 'ART GALLERIES', 'GAME ROOM', 'BOCCE COURTS', 'POKER LOUNGE', 'INDOOR COURTYARD',
            'GOLF SIMULATORS', 'PET CARE CENTER', 'PARKING', 'STORAGE', 'BICYCLE ROOM', 'ATTENDED LOBBY', 'OUTDOOR TERRACES', 'SKY CLUB', 'CO-WORKING LOUNGE', 'FITNESS CENTER', 'INDOOR POOL', 'YOGA /BARRE STUDIO',
            'SUANA', 'BASKETBALL COURT', 'BOXING CLASSES', 'SPIN ROOM', 'ART GALLERIES', 'GAME ROOM', 'BOCCE COURTS', 'POKER LOUNGE', 'INDOOR COURTYARD',
            'GOLF SIMULATORS', 'PET CARE CENTER', 'PARKING', 'STORAGE', 'BICYCLE ROOM','ATTENDED LOBBY', 'OUTDOOR TERRACES', 'SKY CLUB', 'CO-WORKING LOUNGE', 'FITNESS CENTER', 'INDOOR POOL', 'YOGA /BARRE STUDIO',
            'SUANA', 'BASKETBALL COURT', 'BOXING CLASSES', 'SPIN ROOM', 'ART GALLERIES', 'GAME ROOM', 'BOCCE COURTS', 'POKER LOUNGE', 'INDOOR COURTYARD',
            'GOLF SIMULATORS', 'PET CARE CENTER', 'PARKING', 'STORAGE', 'BICYCLE ROOM','ATTENDED LOBBY', 'OUTDOOR TERRACES', 'SKY CLUB', 'CO-WORKING LOUNGE', 'FITNESS CENTER', 'INDOOR POOL', 'YOGA /BARRE STUDIO',
            'SUANA', 'BASKETBALL COURT', 'BOXING CLASSES', 'SPIN ROOM', 'ART GALLERIES', 'GAME ROOM', 'BOCCE COURTS', 'POKER LOUNGE', 'INDOOR COURTYARD',
            'GOLF SIMULATORS', 'PET CARE CENTER', 'PARKING', 'STORAGE', 'BICYCLE ROOM','ATTENDED LOBBY', 'OUTDOOR TERRACES', 'SKY CLUB', 'CO-WORKING LOUNGE', 'FITNESS CENTER', 'INDOOR POOL', 'YOGA /BARRE STUDIO',
            'SUANA', 'BASKETBALL COURT', 'BOXING CLASSES', 'SPIN ROOM', 'ART GALLERIES', 'GAME ROOM', 'BOCCE COURTS', 'POKER LOUNGE', 'INDOOR COURTYARD'
          ],
          showRotate: false
        }),
        created() {
          this.checkWindowWidth();
          this.checkOrientation();
          window.orientation > 0 ? this.device = true : this.device = false;

          window.addEventListener('resize', this.checkWindowWidth);
          window.addEventListener("orientationchange", this.checkOrientation);

          setTimeout(() => { this.showRotate = true},2000)

        },
        methods: {
              openForm() {
                  this.$emit('toggleForm', true);
                  setTimeout(() => { this.showRotate = true},2000)
              },
              hideForm() {
                  if(this.showForm) {
                      this.showRotate = false;
                      this.$emit('toggleForm', false);
                       setTimeout(() => { this.showRotate = true},2000)
                  }
              },
              checkWindowWidth() {
                this.bigScreen = false;
                this.mobileScreen = false;

                let w = window.innerWidth || document.body.clientWidth;

                if(w > 1600) {
                  this.bigScreen = true;
                }

                if(w < 601) {
                  this.mobileScreen = true
                }
              },
              checkOrientation() {
                this.showRotate = false;
                if(window.orientation > 0 ) {
                  this.device = true;
                } else {
                  this.device = false;
                  setTimeout(() => { this.showRotate = true},2000)
                }
              }
          }
    }
</script>
