<template>
  <div id="app">
    <five-points-main
       :showForm="showForm"
       @toggleForm="checkForm"
        v-if="showMain"></five-points-main>


      <five-points-form v-if="showForm"></five-points-form>

  </div>
</template>

<script>
  import Main from "./components/Main";
  import Form from "./components/Form";

  export default {
    name: 'app',
    data: () => ({
      showForm: false,
      showMain: true,
      screenWidth: null
    }),
    created() {
      this.doOnOrientationChange()
      window.addEventListener('orientationchange', this.doOnOrientationChange);

      this.screenWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    },
    methods:{
      checkForm(event) {
        this.showForm = event;
        if(this.screenWidth <= 600) {
          this.showMain = false;
        }
      },

      doOnOrientationChange() {
        switch(window.orientation && this.screenWidth <= 600) {
          case -90: case 90:
            if(this.screenWidth < 601) {
              this.showForm = false;
              this.showMain = true;
            }
            break;
        }
      }
    },
    components: {
      'five-points-main': Main,
      'five-points-form': Form,
    }
  }
</script>

<style lang="scss">
  @import './scss/app';
</style>
