@import './variables';
@import './breakpoints';
@import "components/form";
@import "components/main";

@font-face {
  font-family: "IntegralExtaBold";
  src: url(./assets/fonts/integralcf-extrabold-webfont.woff) format("truetype");
}
* {
  font-family: Helvetica, Arial, sans-serif;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

html {
  overflow-x: hidden;
  font-size: 10px;

  //from 1200px to 1366px
  @media screen and (min-width: 1200px) and (max-width: 1366px) {
    font-size: 10px;
  }

  //from 1367px to 1600px
  @media screen and (min-width: 1367px) and (max-width: 1600px) {
    font-size: 12px;
  }

  //from 1601px
  @media screen and (min-width: 1601px) {
    font-size: 14px;
  }
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include multiple-media(tabletScreen, smallScreen, mediumScreen, largeScreen) {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
  }

  .title-black {
    font-family: "IntegralExtaBold";
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    line-height: .9;
    color: $black;
    -webkit-text-fill-color: #000000;
    letter-spacing: 0;
    font-weight: 100;

    @media only screen and (max-width: 400px) {
      font-size: 2.5rem;
    }

    @include multiple-media(mobileScreen) {
      // letter-spacing: 0;
    }
  }

  .title-white {
    font-family: "IntegralExtaBold";
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #000000;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    margin: 0;
  }

  // fade animation

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    transition: opacity .1s;
  }

  .fade-leave {

  }

  .fade-leave-active {
    animation: slide-out .5s ease-out forwards;
  }

  // slide in from bottom animation

  .slide-enter {
    // transform: translateY(20px);
  }

  .slide-enter-active {
    animation: slide-in 1s ease-in forwards;
  }

  .slide-leave-active {
    animation: slide-out 1s ease-out forwards;
  }

  @keyframes slide-in {
     0% {transform: translateY(100%);}
    20% {transform: translateY(0)}
    100% {transform: translateY(0);}
   }

  @keyframes slide-out {
    0% {height: max-content}
    20% {height: 0}
    100% {height: 0}
  }
}
